<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <title>Insportify</title>
    <link rel="icon" href="{% static 'img/favicon.jpg' %}" type="image/x-icon">
</head>
<body>
<nav class="col-1 shadow p-3 bg-body rounded" class="navbar navbar-expand-lg"
     style="background: linear-gradient(to bottom left, #1bc2bf, #0ddff6, #26bbcc);">
    <div class="container-fluid" style="margin:10px;">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.PNG' %}" alt="Logo" style="width: 200px;"/>
        </a>
        <hr>
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link link-secondary" href="{% url 'list-events' %}">
                    <p>Show Events</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-secondary" href="{% url 'multistep' %}">
                    <p>Events</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-secondary" href="{% url 'user_profile' %}">
                    <p>User Profile</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-secondary" href="{% url 'edit_profile' %}">
                    <p>Edit Profile</p>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
<div class="col-2 shadow bg-body">
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link link-secondary" href="{% url 'logout' %}"><p>Logout</p></a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link link-secondary" href="{% url 'register' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-secondary" href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="content">
        <article>
            {% block content %}
            {% endblock %}
        </article>
    </main>
    <footer class="bg-light text-center text-lg-start shadow bg-body">
        <div class="text-center text-muted">
            © 2022 Copyright:
            <a target="_blank" href="" class="link-secondary">INSPORTIFY</a>
        </div>
    </footer>
</div>
</body>
<style>
  * {
    box-sizing: border-box;
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
  }
  .col-1 {
    flex: 1;
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
  }
  .content {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
  }
  .content > article {
    flex: 4;
    min-height: 60vh;
  }
  footer, article{
    padding: 1em;
  }

    footer{
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: white;
    }









</style>
</html>
