{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col-5 mx-auto">
        <div class="card shadow">
            <h3 class="card-header text-center text-white"
                style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">Change Password</h3>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
<!--                    {{ form.as_p }}-->
                    <div class="form-group mb-3">
                        {% render_field form.old_password class="form-control" placeholder="Old Password" %}
                    </div>
                    <div class="form-group mb-3">
                        {% render_field form.new_password1 class="form-control" placeholder="New Password" %}
                    </div>
                    <div class="form-group mb-3">
                        {% render_field form.new_password2 class="form-control" placeholder="Confirm New Password" %}
                    </div>
                    <div class="text-center mb-3">
                        <button class="btn my-3 shadow rounded text-white" style="background: #ff6f3d;">Change
                            Password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}