{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-5 mx-auto">
        <div class="card shadow">
            <h3 class="card-header text-center text-white"
                style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">Reset Password - Enter email for validation code</h3>
            <div class="card-body">
                <div class="card-body">
                    <form action="{% url 'password_reset' %}" method="POST" novalidate>
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            {% if field.label_tag != "Password:" %}
                                {{ field.label_tag }}
                                {% render_field field class="form-control" %}
                            {% endif %}
                            {% for error in field.errors %}
                            <span style="color:red">{{ error }}</span>
                            {% endfor %}
                            {% endfor %}
                            <div class="text-center mb-3">
                                <input type="submit" value="Send Code" class="btn my-3 shadow rounded text-white"
                                       style="background: #ff6f3d;">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

