{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title py-2 text-white text-center">Edit Profile</h4>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-secondary">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}