{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col-5 mx-auto">
        <div class="card shadow">
            <h3 class="card-header text-center text-white"
                style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">Edit Profile</h3>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        {% render_field form.username class="form-control" placeholder="Username" %}
                    </div>
                    <div class="form-group mb-3">
                        {% render_field form.first_name class="form-control" placeholder="First Name" %}
                    </div>
                    <div class="form-group mb-3">
                        {% render_field form.last_name class="form-control" placeholder="Last Name" %}
                    </div>
                    <div class="form-group mb-3">
                        {% render_field form.email class="form-control" placeholder="Email" %}
                    </div>
                    <!--                    {{ form.as_p }}-->
                    <div class="text-center mb-3">
                        <button class="btn my-3 shadow rounded text-white" style="background: #ff6f3d;">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}