{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
        <form id="msform" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}


            <ul id="progressbar" class="mx-auto text-center" style="padding-left: 0px;">
                <li class="active" id="step1">Personal Details</li>
                <li id="step2">Location Details</li>
                <li id="step3">Sports Choices</li>
            </ul>

            <fieldset class="p-2" id="tab-1">
                <div class="card shadow">
                    <h4 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Tell us little
                        about you</h4>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="first_name" placeholder="First Name"
                                   value="{% if individual.first_name %} {{individual.first_name}} {% else %} None {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="last_name" placeholder="Last Name"
                                   value="{% if individual.last_name %} {{individual.last_name}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input placeholder="DOB" class="textbox-n form-control" type="text"
                                   onfocus="(this.type='date')" onblur="(this.type='text')" name="dob"
                                   value="{% if individual.dob %} {{individual.dob}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="contact_email" placeholder="Contact Email"
                            value="{% if individual.email %} {{individual.email}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="mobile" placeholder="xxx-xxx-xxxx"
                            value="{% if individual.phone %} {{individual.phone}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <label>I am interest in participating in ?</label>
                            <input type="radio" id="Male" name="interest_gender" value="Male"
                            {% if individual.participation_interest == "Male" %} checked {% endif %}>Male</input>
                            <input type="radio" id="Female" name="interest_gender" value="Female"
                            {% if individual.participation_interest == "Female" %} checked {% endif %}> Female </input>
                            <input type="radio" id="Coed" name="interest_gender" value="Coed"
                            {% if individual.participation_interest == "Coed" %} checked {% endif %}> Coed </input>
                        </div>
                        <div class="form-row p-2">
                            <label>Are you a Student?</label>
                            <input type="radio" id="Yes" name="is_student" value="Yes"
                            {% if individual.is_student == "Yes" %} checked {% endif %}>Yes</input>
                            <input type="radio" id="No" name="is_student" value="No"
                            {% if individual.is_student == "No" %} checked {% endif %}> No</input>
                        </div>
                        <div class="form-row p-2">
                            <label>Have you ever suffered concussion?</label>
                            <input type="radio" id="Yes" name="is_concussion" value="Yes"
                            {% if individual.concussion == "Yes" %} checked {% endif %}>Yes</input>
                            <input type="radio" id="No" name="is_concussion" value="No"
                            {% if individual.concussion == "No" %} checked {% endif %}> No</input>
                        </div>

                        <div class="form-row p-2 text-center">
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                   value="Next" id="next-tab-1"/>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset class="p-2" id="tab-2">
                <div class="card shadow">
                    <h4 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Hey {{ user.first_name }} list your locations where you can participate in </h4>
                    <label></label>
                    <div class="form-row p-2">
                        <input type="text" class="form-control" name="city" placeholder="City"
                               value="{% if individual.city %} {{individual.city}} {% endif %}"/>
                    </div>
                    <div class="form-row p-2">
                        <input type="text" class="form-control" name="province" placeholder="Province"
                               value="{% if individual.province %} {{individual.province}} {% endif %}"/>
                    </div>
                    <div class="form-row p-2">
                        <input type="text" class="form-control" name="country" placeholder="Country"
                               value="{% if individual.country %} {{individual.country}} {% endif %}"/>
                    </div>
                    <div class="form-row p-2 text-center">
                        <div id="input_fields_wrap">
                            <button class="btn btn-primary"
                                    id="add_field_button">Add location
                            </button>
                        </div>
                    </div>
                    <div class="form-row p-2 text-center">
                        <input type="button" name="previous"
                               class="previous action-button-previous btn btn-primary"
                               value="Previous" id="previous-tab-2"/>
                        <input type="button" name="next" class="next action-button btn btn-primary"
                               value="Next" id="next-tab-2"/>
                    </div>
                </div>
            </fieldset>

            <fieldset class="p-2" id="tab-3">
                <div class="card shadow">
                    <h4 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        {{user.first_name }} ,
                        add sports you play and the ones you would love to play</h4>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <select name='sport_type' id="sports" class="form-select"
                                    aria-label=".form-select-lg example">
                                <option value="" selected>Choose Sport</option>
                                {% for st in sports_type %}
                                    <option value="{{st}}">{{st}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <select name='position' class="form-select" id='position'
                                    aria-label=".form-select-lg example">
                                <option value=""
                                        {% if individual.sports_position == "" %} selected {% endif %}>
                                Choose Position</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <select name='skill' class="form-select" id='skill'
                                    aria-label=".form-select-lg example">
                                <option value="" selected>Choose Skill</option>

                            </select>
                        </div>
                        <div class="form-row p-2 text-center">
                            <div id="input_fields">
                                <button class="btn btn-primary"
                                        id="add_button">Add Position
                                </button>
                            </div>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   value="Previous" id="previous-tab-3"/>

                            <input type="submit" name="submit" class="submit action-button btn btn-primary"
                                   value="Submit"/>
                        </div>
                    </div>
                </div>
            </fieldset>
            
        </form>
    </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

<style>

   #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #ff6f3d;
}

#progressbar li {
    display:inline-block;
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #ff6f3d
}




</style>

<script>

$("#sports").change(function () {
        var selected_type_value = $("#sports option:selected");
        var selected_type_text = selected_type_value.text();
        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:get_selected_sports_positions" %}',
            data: {
                'selected_type_text': selected_type_text,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = '<option selected disabled>Choose Position</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.position_type}">${data.position_type}</option>`
                });
                $("#position").html(html_data);
            }
        });
    });

$("#position").change(function () {
    var selected_position_value = $("#position option:selected");
    var selected_position_text = selected_position_value.text();
    var selected_type_value = $("#sports option:selected");
    var selected_type_text = selected_type_value.text();
        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:get_selected_sports_skill" %}',
            data: {
                'selected_position_text': selected_position_text,
                'selected_type_text': selected_type_text,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = '<option selected disabled>Choose Skill</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.skill_type}">${data.skill_type}</option>`
                });
                console.log(html_data);
                $("#skill").html(html_data);
            }
        });
    });

$(document).ready(function(){
  var tab2 = $("#tab-2");
  var tab3 = $("#tab-3");
  tab2.hide();
  tab3.hide();

  $("#next-tab-1").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.show();
    tab3.hide();
    $("#step2").addClass("active");
  });

  $("#next-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.hide();
    tab3.show();
    $("#step3").addClass("active");
  });

  $("#previous-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.show();
    tab2.hide();
    tab3.hide();
    $("#step2").removeClass("active");
  });

  $("#previous-tab-3").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.show();
    tab3.hide();
    $("#step3").removeClass("active");
  });

});


    $(document).ready(function() {
    var max_fields      = 6; //maximum input boxes allowed
    var wrapper         = $("#input_fields_wrap"); //Fields wrapper
    var add_button      = $("#add_field_button"); //Add button ID

    var x = 1; //initlal text box count


   $(add_button).click(function(e){
        e.preventDefault();
        if(x < max_fields){
             var html= '';
             html += '<div>'
             html += '<input name="city'+ x + '" class="form-control" type="text" placeholder="City">'
             html += '<input type="text" class="form-control" name ="province' + x + '" placeholder="Province">'
             html += '<input type="text" class="form-control" name="country' + x + '" placeholder= "Country">'
             html += '<a href="#" class="remove_field">Remove</a>'
             html += '</div>'
            $(wrapper).append(html);
            x++;
      }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text

        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});

    $(document).ready(function() {
    var max_fields      = 5;
    var wrapper         = $("#input_fields");
    var add_button      = $("#add_button");

    var x = 1;


   $(add_button).click(function(e){
        e.preventDefault();
        if(x < max_fields){
            var type_id = "type_" + x;
            var position_id = "position_" + x;
            var skill_id = "skill_" + x;
            var sports_type_func = "populate_sportstype" + x;
            var sports_position_func = "populate_sportsposition" + x;
            var sports_skill_func = "populate_sportsskill" + x;

            var html='';
            html += '<div class="mt-2">'
            html += '<select name="' + type_id + '" id="' + type_id + '" class="form-select mt-2" onchange="' + sports_position_func + '()">'
            html += '<option selected disabled>Choose Sport</option>'
            html += '</select>'
            html += '<select name="' + position_id + '" id="' + position_id + '" class="form-select mt-2" onchange="' + sports_skill_func + '()">'
            html += '<option selected disabled>Choose Position</option>'
            html += '</select>'
            html += '<select name="' + skill_id + '" id="' + skill_id + '" class="form-select mt-2">'
            html += '<option selected disabled>Choose Skill</option>'
            html += '</select>'
            html += '<a href="#" class="remove_field">Remove</a>'
            html += '</div>'
            $(wrapper).append(html);
            x++;
            populate_sportstype(type_id)
      }
    });

    $(wrapper).on("click",".remove_field", function(e){
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })

   function populate_sportstype(type_id) {
    $.ajax({
        type: "GET",
        url: '{% url "EventsApp:get_sports_type" %}',
        data: {
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {
            let html_data = '<option selected disabled>Choose Sport</option>';
            data.forEach(function (data) {
                html_data += `<option value="${data.sports_type_text}">${data.sports_type_text}</option>`
            });
            $("#"+type_id).html(html_data);
        }
    });
    }


});

function populate_sportsposition1(){
    var selected_type_value = $("#type_1 option:selected");
    var selected_type_text = selected_type_value.text();
    console.log(selected_type_text);
    $.ajax({
    type: "POST",
    url: '{% url "EventsApp:get_selected_sports_positions" %}',
    data: {
        'selected_type_text': selected_type_text,
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function (data) {
        let html_data = '<option selected disabled>Choose Position</option>';
        data.forEach(function (data) {
            html_data += `<option value="${data.position_type}">${data.position_type}</option>`
        });
        $("#position_1").html(html_data);
    }
});
}

function populate_sportsposition2(){
    var selected_type_value = $("#type_2 option:selected");
    var selected_type_text = selected_type_value.text();
    $.ajax({
    type: "POST",
    url: '{% url "EventsApp:get_selected_sports_positions" %}',
    data: {
        'selected_type_text': selected_type_text,
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function (data) {
        let html_data = '<option selected disabled>Choose Position</option>';
        data.forEach(function (data) {
            html_data += `<option value="${data.position_type}">${data.position_type}</option>`
        });
        $("#position_2").html(html_data);
    }
});
}

function populate_sportsposition3(){
    var selected_type_value = $("#type_3 option:selected");
    var selected_type_text = selected_type_value.text();
    $.ajax({
    type: "POST",
    url: '{% url "EventsApp:get_selected_sports_positions" %}',
    data: {
        'selected_type_text': selected_type_text,
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function (data) {
        let html_data = '<option selected disabled>Choose Position</option>';
        data.forEach(function (data) {
            html_data += `<option value="${data.position_type}">${data.position_type}</option>`
        });
        $("#position_3").html(html_data);
    }
});
}

function populate_sportsposition4(){
    var selected_type_value = $("#type_4 option:selected");
    var selected_type_text = selected_type_value.text();
    $.ajax({
    type: "POST",
    url: '{% url "EventsApp:get_selected_sports_positions" %}',
    data: {
        'selected_type_text': selected_type_text,
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function (data) {
        let html_data = '<option selected disabled>Choose Position</option>';
        data.forEach(function (data) {
            html_data += `<option value="${data.position_type}">${data.position_type}</option>`
        });
        $("#position_4").html(html_data);
    }
});
}

function populate_sportsskill1(){
    var selected_type_value = $("#type_1 option:selected");
    var selected_type_text = selected_type_value.text();
    var selected_position_value = $("#position_1 option:selected");
    var selected_position_text = selected_position_value.text();
    $.ajax({
    type: "POST",
    url: '{% url "EventsApp:get_selected_sports_skill" %}',
    data: {
        'selected_position_text': selected_position_text,
        'selected_type_text': selected_type_text,
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function (data) {
        let html_data = '<option selected disabled>Choose Skill</option>';
        data.forEach(function (data) {
            html_data += `<option value="${data.skill_type}">${data.skill_type}</option>`
        });
        $("#skill_1").html(html_data);
    }
});
}

function populate_sportsskill2(){
    var selected_type_value = $("#type_2 option:selected");
    var selected_type_text = selected_type_value.text();
    var selected_position_value = $("#position_2 option:selected");
    var selected_position_text = selected_position_value.text();
    $.ajax({
    type: "POST",
    url: '{% url "EventsApp:get_selected_sports_skill" %}',
    data: {
        'selected_position_text': selected_position_text,
        'selected_type_text': selected_type_text,
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function (data) {
        let html_data = '<option selected disabled>Choose Skill</option>';
        data.forEach(function (data) {
            html_data += `<option value="${data.skill_type}">${data.skill_type}</option>`
        });
        $("#skill_2").html(html_data);
    }
});
}

function populate_sportsskill3(){
    var selected_type_value = $("#type_3 option:selected");
    var selected_type_text = selected_type_value.text();
    var selected_position_value = $("#position_3 option:selected");
    var selected_position_text = selected_position_value.text();
    $.ajax({
    type: "POST",
    url: '{% url "EventsApp:get_selected_sports_skill" %}',
    data: {
        'selected_position_text': selected_position_text,
        'selected_type_text': selected_type_text,
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function (data) {
        let html_data = '<option selected disabled>Choose Skill</option>';
        data.forEach(function (data) {
            html_data += `<option value="${data.skill_type}">${data.skill_type}</option>`
        });
        $("#skill_3").html(html_data);
    }
});
}

function populate_sportsskill4(){
    var selected_type_value = $("#type_4 option:selected");
    var selected_type_text = selected_type_value.text();
    var selected_position_value = $("#position_4 option:selected");
    var selected_position_text = selected_position_value.text();
    $.ajax({
    type: "POST",
    url: '{% url "EventsApp:get_selected_sports_skill" %}',
    data: {
        'selected_position_text': selected_position_text,
        'selected_type_text': selected_type_text,
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
    },
    success: function (data) {
        let html_data = '<option selected disabled>Choose Skill</option>';
        data.forEach(function (data) {
            html_data += `<option value="${data.skill_type}">${data.skill_type}</option>`
        });
        $("#skill_4").html(html_data);
    }
});
}

// Logic to show alert when user leaving page without saving
$(function () {
    var formSubmitting = false;
    $("#msform").on('submit', function(){
        formSubmitting = true;
    });
    window.onload = function() {
        window.addEventListener("beforeunload", function (e) {
            if (formSubmitting) {
                return undefined;
            }

            var confirmationMessage = 'It appears you have unsaved changes, if you leave now, your changes will be lost.';

            (e || window.event).returnValue = confirmationMessage; //Gecko + IE
            return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
        });
    };
});

</script>

{% endblock %}