{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}
<div class="row">
    <div id="user-profile" class="col-lg-6 col-md-12 mx-auto">
        <div>
            <h3 class="mx-auto text-center fw-light">User Profile</h3>
            <hr>
        </div>
        <form id="msform" action="{% url 'EventsApp:user_profile_submit'%}" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}


            <ul id="progressbar" class="d-flex justify-content-around mx-auto text-center" style="padding-left: 0px;">
                <li class="active" id="step1">Personal Details</li>
                <li id="step2">Location Details</li>
                <li id="step3">Sports Choices</li>
                <li id="step4">User Availability</li>
            </ul>

            <fieldset class="p-2" id="tab-1">
                <div class="card shadow">
                    <h4 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Tell us little about you
                    </h4>
                        <div class="p-2 d-flex justify-content-end">
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                   value="Next" id="next-tab-1" style="width: 90px;"/>
                        </div>
                    <div class="card-body">

                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="first_name" placeholder="* First Name"
                                   value="{% if individual.first_name %} {{individual.first_name}}{% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="last_name" placeholder="* Last Name"
                                   value="{% if individual.last_name %} {{individual.last_name}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input placeholder="* Birthday" class="textbox-n form-control datesingle" type="text"
                                   onfocus="(this.type='date')" onblur="(this.type='text')" name="dob"
                                   value="{% if individual.dob %} {{individual.dob}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Mobile" data-inputmask="'mask': '999-999-9999'"
                                   value="{% if individual.phone %} {{individual.phone}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <select name="pronoun" id="pronoun" class="form-select" title="pronoun">
                                <option value="0">Choose Preferred Pronoun</option>
                                <option value="1" {% if individual.pronouns == "1" %} selected {% endif %}>she/her/hers/herself</option>
                                <option value="2" {% if individual.pronouns == "2" %} selected {% endif %}>he/him/his/himself</option>
                                <option value="3" {% if individual.pronouns == "3" %} selected {% endif %}>they/them/their/theirs/themself</option>
                                <option value="4" {% if individual.pronouns == "4" %} selected {% endif %}>others</option>
                                <option value="5" {% if individual.pronouns == "5" %} selected {% endif %}>Prefer not to say</option>
                            </select>
                        </div>

                        <div class="form-row p-2">
                            <label>* I am interest in participating in ?</label>
                            <br>
                            <div>
                                <label class="label-inline" for="Male">
                                    <input type="checkbox" id="Male" name="participation_interest1" value="Male"
                                        {% if "Male" in individual.participation_interest %}
                                            checked
                                        {% endif %}>Male Only
                                    </input>
                                </label>
                                <label class="label-inline" for="Female">
                                    <input type="checkbox" id="Female" name="participation_interest2" value="Female"
                                {% if "Female" in individual.participation_interest %} checked {% endif %}>Female Only
                                    </input>
                                </label>
                                <label class="label-inline" for="Coed">
                                    <input type="checkbox" id="Coed" name="participation_interest3" value="Coed"
                                {% if "Coed" in individual.participation_interest %} checked {% endif %}>Coed</input>
                                </label>
                                </div>
                        </div>
                        <div class="form-row p-2">
                            <label>Are you a Student?</label>
                            <br>
                            <label for="Yes">
                                <input type="radio" id="Yes" name="is_student" value="Yes"
                                   {% if individual.is_student == "Yes" %} checked {% endif %}>Yes
                                </input>
                            </label>
                            <label for="No"><input type="radio" id="No" name="is_student" value="No"
                                   {% if individual.is_student == "No" %} checked {% endif %}> No</input></label>
                        </div>
                        <div class="form-row p-2">
                            <label>Have you ever suffered concussion?</label>
                            <br>
                            <label for="Yes">
                                <input type="radio" id="concussion_Yes" name="concussion" value="Yes"
                                       {% if individual.concussion == "Yes" %} checked disabled {% endif %}>Yes</input>
                            </label>
                            <label for="No">
                                <input type="radio" id="concussion_No" name="concussion" value="No"
                                   {% if individual.concussion == "No" %} checked {% elif individual.concussion == "Yes"%} disabled {% endif %}> No</input>
                            </label>
                        </div>
                        </div>
                </div>

            </fieldset>

            <fieldset class="p-2" id="tab-2">
                <div class="card shadow">
                    <h4 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Hey {{ user.first_name }} list your locations where you can participate in </h4>
                    <label></label>
                    <div class="d-flex justify-content-between p-2">
                        <input type="button" name="previous"
                               class="previous action-button-previous btn btn-primary"
                               value="Previous" id="previous-tab-2" style="width: 90px;"/>
                        <input type="button" name="next" class="next action-button btn btn-primary"
                               value="Next" id="next-tab-2" style="width: 90px;"/>
                    </div>
                    <div class="card-body">
                        <div id="location_status">

                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="city" id="city" placeholder="* City"
                                   value="{% if individual.city %} {{individual.city}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
<!--                            {% comment %} <input type="text" class="form-control" name="province" id="province" placeholder="* Province"-->
<!--                                   value="{% if individual.province %} {{individual.province}} {% endif %}"/> {% endcomment %}-->
                            <select name="province" id="province" class="form-select">
                                <option value="0">Select Province</option>
                                {% comment %} {% for province in provinces %}
                                    <option {% if individual.province == province %} selected {% endif %} value="{{ province }}">{{ province }}</option>
                                {% endfor %} {% endcomment %}
                                <option value="British Columbia" {% if individual.province == "British Columbia" %} selected {% endif %}>British Columbia</option>
                                <option value="Manitoba" {% if individual.province == "Manitoba" %} selected {% endif %}>Manitoba</option>
                                <option value="New Brunswick" {% if individual.province == "New Brunswick" %} selected {% endif %}>New Brunswick</option>
                                <option value="Newfoundland and Labrador" {% if individual.province == "Newfoundland and Labrador" %} selected {% endif %}>Newfoundland and Labrador</option>
                                <option value="Nova Scotia" {% if individual.province == "Nova Scotia" %} selected {% endif %}>Nova Scotia</option>
                                <option value="Northwest Territories" {% if individual.province == "Northwest Territories" %} selected {% endif %}>Northwest Territories</option>
                                <option value="Nunavut" {% if individual.province == "Nunavut" %} selected {% endif %}>Nunavut</option>
                                <option value="Ontario" {% if individual.province == "Ontario" %} selected {% endif %}>Ontario</option>
                                <option value="Prince Edward Island" {% if individual.province == "Prince Edward Island" %} selected {% endif %}>Prince Edward Island</option>
                                <option value="Quebec" {% if individual.province == "Quebec" %} selected {% endif %}>Quebec</option>
                                <option value="Saskatchewan" {% if individual.province == "Saskatchewan" %} selected {% endif %}>Saskatchewan</option>
                                <option value="Yukon" {% if individual.province == "Yukon" %} selected {% endif %}>Yukon</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <select name="country" id="country" class="form-select">
                                <option value="0">Select Country</option>
                                <option value="Canada" {% if individual.country == "Canada" %} selected {% endif %}>Canada</option>

                            </select>
                        <div class="form-row p-2 text-center">
                            <div id="input_fields_wrap">
                                <input type="button" class="action-button btn btn-primary"
                                            id="add_locations" value="Add Location" />
                            </div>
                        </div>
                        <div class="form-row p-2 text-center">
                            <h5>Your Saved Locations</h5>
                            <div id="user_location_table">
                                <table class="table table-striped">
                                {% for item in locations %}
                                <tr>
                                    <td>{{item.city}}</td>
                                    <td>{{item.province}}</td>
                                    <td>{{item.country}}</td>
                                    <td>
                                        <a href="#"
                                           onclick="delete_user_location({{item.pk}})">
                                            <i class="bi bi-trash" style="color:red"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="p-2" id="tab-3">
                <div class="card shadow">
                    <h4 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        {{user.first_name }} ,
                        add sports you play and the ones you would love to play</h4>
                        <div class="d-flex justify-content-between p-2">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   value="Previous" id="previous-tab-3" style="width: 90px;"/>
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                   value="Next" id="next-tab-3" style="width: 90px;"/>
                        </div>
                    <div class="card-body">
                        <div id="position_status">

                        </div>
                        <div class="form-row p-2">
                            <select name='sport_type' id="sports" class="form-select"
                                    aria-label=".form-select-lg example">
                                <option value="" selected>* Choose Sport</option>
                                {% for st in sports_type %}
                                <option value="{{st}}">{{st}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-row p-2" id="position_div">
                            <select name='position' class="form-select" id='position'
                                    aria-label=".form-select-lg example">
                                <option value=""
                                        {% if individual.sports_position == "" %} selected {% endif %}>
                                * Choose Position</option>
                            </select>
                        </div>
                        <div class="form-row p-2" id="skill_div">
                            <select name='skill' class="form-select" id='skill'
                                    aria-label=".form-select-lg example">
                                <option value="" selected>* Choose Skill</option>

                            </select>
                        </div>
                        <div class="form-row p-2 text-center">
                            <div id="input_fields">
                                <input type="button" class="action-button btn btn-primary"
                                        id="add_positions" value="Add Position" />
                            </div>
                        </div>
                        <div>
                            <h5>Your Saved Sport Preferences</h5>
                            <div id="sports_position_table">
                            <table class="table table-striped">
                                {% for item in sec_sport_choices %}
                                <tr>
                                    <td>{{item.sport_type}}</td>
                                    <td>{{item.position}}</td>
                                    <td>{{item.skill}}</td>
                                    <td>
                                        <a href="#"
                                           onclick="delete_sports_choice({{item.pk}})">
                                            <i class="bi bi-trash" style="color:red"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="p-2" id="tab-4">
                <div class="card shadow">
                    <h4 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        {{user.first_name }} ,
                        add your availability</h4>
                        <div class="p-2 d-flex justify-content-start">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   value="Previous" id="previous-tab-4" style="width: 90px;"/>
                        </div>
                    <div class="card-body">
                        <div id="availability_status">

                        </div>
                        <div id="add_avail_div" style="{% if user_avaiability %} display:none {% endif %}">
                            <div class="form-group row p-2">
                                <div class="col-md-4">
                                    <label class="my-label">Day of Week</label>
                                    <select class="form-select" name="day_of_week" id="day_of_week">
                                        <option value="" selected="selected">Select Day Of The Week</option>
                                        <option value="1">Monday</option>
                                        <option value="2">Tuesday</option>
                                        <option value="3">Wednesday</option>
                                        <option value="4">Thursday</option>
                                        <option value="5">Friday</option>
                                        <option value="6">Saturday</option>
                                        <option value="7">Sunday</option>
                                    </select>
                                </div>
                                <div class="col-md-4" style="margin-bottom: 0px;margin-top: auto;">
                                    <input type="time" class="form-control" id="start_time" name="start_time" disabled
                                           placeholder="Start Time" value="00:00"/>
                                </div>
                                <div class="col-md-4" style="margin-bottom: 0px;margin-top: auto;">
                                    <input type="time" class="form-control" id="end_time" name="end_time" disabled
                                           placeholder="End Time" value="23:59"/>
                                </div>
                            </div>
                            <div class="form-row p-2 text-center">
                                <label>I'm available all day</label>
                                <input type="checkbox" id="all_day" name="all_day" checked onchange="all_day_checked()"></input>

                            </div>
                            <div class="form-row p-2 text-center">
                                <input type="button" class="action-button btn btn-primary" id="add_availability"
                                       value="Add Availability"/>
                            </div>
                        </div>
                        <div class="form-row p-2 text-center">
                            <h5>Your Saved Availability Preferences</h5>
                            <div id="availability_table" class="table-responsive">
                                <table class="table table-striped">
                                    <thead style="font-weight:bold">
                                        <tr>
                                            <td>Day</td>
                                            <td>Start Time</td>
                                            <td>End Time</td>
                                            <td>All Day</td>
                                            <td>Delete</td>
                                            <td>Add</td>
                                            <td>Edit</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for item in user_avaiability %}
                                        <tr>
                                            <td>{{item.day_of_week}}</td>
                                            <td>{% if not item.all_day %} {{item.start_time}}
                                                {% else %} All Day
                                                {% endif %}</td>
                                            <td>{% if not item.all_day %} {{item.end_time}}
                                                {% else %} All Day
                                                {% endif %}</td>
                                            <td>
                                                <input type="checkbox"
                                                {% if item.all_day %} checked {% endif %} disabled></input>
                                            </td>
                                            <td>
                                                <a href="#"
                                                   onclick="delete_availability({{item.pk}})">
                                                    <i class="bi bi-trash" style="color:red"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#"
                                                   onclick="show_availability('{{item.day_of_week}}', '{{item.start_time}}' , '{{item.end_time}}', 'Add', {{item.pk}})">
                                                    <i class="bi bi-plus-circle" style="color:green"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="#"
                                                   onclick="show_availability('{{item.day_of_week}}', '{{item.start_time}}' , '{{item.end_time}}', 'Edit', {{item.pk}})">
                                                    <i class="bi bi-pencil-square" style="color:blue"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                            </table>
                            </div>
                        </div>
                        <div class="form-row p-2 text-center">

                            <input type="submit" name="submit" class="submit action-button btn btn-primary"
                                   value="Submit" style="width: 90px;"/>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
        {% if profile.is_master %}
        <div class="p-2 text-center">
            <input type="button" class="btn btn-danger" id="btn_delete_account"
                   value="Delete Account" data-bs-toggle="modal" data-bs-target="#delete_modal"/>
        </div>
        <div class="modal fade" id="delete_modal" data-bs-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your account. Deleting your account will permanently delete your
                        profile. You will be logged out and redirected to the home page. To Log-In again you will need
                        to create a new account.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a type="button" class="btn btn-primary" href="{% url 'EventsApp:delete_profile' %}">
                            Confirm Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="p-2 text-center">
            <input type="button" class="btn btn-danger" id="btn_delete_profile"
                   value="Delete Profile" data-bs-toggle="modal" data-bs-target="#delete_modal_profile"/>
        </div>
        <div class="modal fade" id="delete_modal_profile" data-bs-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="deleteModalLabel_profile" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel_profile">Delete Porifle</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this profile?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a type="button" class="btn btn-primary" href="{% url 'EventsApp:delete_profile' %}">
                            Confirm Delete</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"
      rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<style>

   #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #ff6f3d;
    cursor: pointer;
}

#progressbar li {
    display:inline-block;
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    position: relative;
    font-weight: 400;
    cursor: pointer;
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar #step4:before {
    content: "4"
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 35px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  #progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #ff6f3d
}

.label-inline {
  display: inline-block;
}
</style>

<script>


    function callWidthChange(myWidth, myHeight) {
        if (myWidth >= 768) {
            if(document.getElementById("user-profile")){
                document.getElementById("user-profile").classList.remove("col-12");
                document.getElementById("user-profile").classList.add("col-6");
            }
        } else {
            if(document.getElementById("user-profile")){
                document.getElementById("user-profile").classList.remove("col-6");
                document.getElementById("user-profile").classList.add("col-12");
            }
        }
    }

    $(document).ready(function () {
        let myWidth = $(window).width();
        let myHeight = window.innerHeight;
        callWidthChange(myWidth, myHeight);   
        $(window).resize(function () {
        var nw = $(window).width();
        let myHeight = window.innerHeight;
        myWidth = nw;
        callWidthChange(myWidth, myHeight);
    });
    });

    $('.datesingle').datepicker({orientation: 'top', format: 'yyyy-mm-dd',});
    $("#add_locations").click(function (e) {
        e.preventDefault();
        var selected_city_text = document.getElementById("city").value;
        var selected_province_text = document.getElementById("province").value;
        var selected_country_text = document.getElementById("country").value;

        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:add_user_locations" %}',
            data: {
                'selected_city_text': selected_city_text,
                'selected_province_text': selected_province_text,
                'selected_country_text': selected_country_text,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
                html_data += `${data["status"]}`;
                html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
                html_data += `</div>`;
                let status = document.getElementById("location_status");
                status.innerHTML = html_data;

                document.getElementById("city").value = "";

                fetchUserLocations();
            }
        });
    });

    function fetchUserLocations() {
        $.ajax({
            type: "GET",
            async: false,
            url: '{% url "EventsApp:fetch_user_locations" %}',
            success: function (data) {
                let html_data = `<table class="table table-striped">`;
                data.forEach(function (data) {
                    html_data += `<tr>`;
                    html_data += `<td>${data.city}</td>`;
                    html_data += `<td>${data.province}</td>`;
                    html_data += `<td>${data.country}</td>`;
                    html_data += `<td>`;
                    html_data += `<a href="#" onclick="delete_user_location(${data.pk})">`;
                    html_data += `<i class="bi bi-trash" style="color:red"></i>`;
                    html_data += `</a>`;
                    html_data += `</td>`;
                    html_data += `</tr>`;
                });
                html_data += `</table>`;
                let tableData = document.getElementById("user_location_table");
                tableData.innerHTML = html_data;
            }
        });
    }

    function delete_user_location(user_location_id) {
        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:delete_user_location" %}',
            data: {
                'id': user_location_id,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
                html_data += `${data["status"]}`;
                html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
                html_data += `</div>`;
                let status = document.getElementById("location_status");
                status.innerHTML = html_data;
                fetchUserLocations();
            }
        });
    }


    $("#sports").change(function () {
        var selected_type_value = $("#sports option:selected");
        var selected_type_text = selected_type_value.text();
        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:get_selected_sports_positions" %}',
            data: {
                'selected_type_text': selected_type_text,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = '<option value="" selected disabled>Choose Position</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.position_type}">${data.position_type}</option>`
                });
                $("#position").html(html_data);
            }
        });
    });


    $("#add_positions").click(function (e) {
        e.preventDefault();
        var selected_skill_value = $("#skill option:selected");
        var selected_skill_text = selected_skill_value.text();
        var selected_position_value = $("#position option:selected");
        var selected_position_text = selected_position_value.text();
        var selected_sport_value = $("#sports option:selected");
        var selected_sport_text = selected_sport_value.text();

        console.log(selected_skill_value.val(), selected_position_value.val(), selected_sport_value.val());
        if (selected_skill_value.val() === "" || selected_position_value.val() === "" || selected_sport_value.val() === "") {
            let msg = "Please fill in the empty fields!";
            let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
            html_data += `${msg}`;
            html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            html_data += `</div>`;
            let status = document.getElementById("position_status");
            status.innerHTML = html_data;
        }
        else {
            $.ajax({
                type: "POST",
                url: '{% url "EventsApp:add_sports_positions" %}',
                data: {
                    'selected_sport_text': selected_sport_text,
                    'selected_position_text': selected_position_text,
                    'selected_skill_text': selected_skill_text,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
                    html_data += `${data["status"]}`;
                    html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
                    html_data += `</div>`;
                    let status = document.getElementById("position_status");
                    status.innerHTML = html_data;
                    fetchUserSportChoices();

                    $("#sports").val($("#skill option:first").val());

                    $('#position option:not(:first)').remove();
                    $("#position").val($("#position option:first").val());

                    $('#skill option:not(:first)').remove();
                    $("#skill").val($("#skill option:first").val());
                }
            });
        }
    });

    function fetchUserSportChoices() {
        $.ajax({
            type: "GET",
            async: false,
            url: '{% url "EventsApp:fetch_user_sports_positions" %}',
            success: function (data) {
                let html_data = `<table class="table table-striped">`;
                data.forEach(function (data) {
                    html_data += `<tr>`;
                    html_data += `<td>${data.sport_type}</td>`;
                    html_data += `<td>${data.position}</td>`;
                    html_data += `<td>${data.skill}</td>`;
                    html_data += `<td>`;
                    html_data += `<a href="#" onclick="delete_sports_choice(${data.pk})">`;
                    html_data += `<i class="bi bi-trash" style="color:red"></i>`;
                    html_data += `</a>`;
                    html_data += `</td>`;
                    html_data += `</tr>`;
                });
                html_data += `</table>`;
                let tableData = document.getElementById("sports_position_table");
                tableData.innerHTML = html_data;
            }
        });
    }

    function delete_sports_choice(sport_choice_id) {
        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:delete_sports_choice" %}',
            data: {
                'id': sport_choice_id,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
                html_data += `${data["status"]}`;
                html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
                html_data += `</div>`;
                let status = document.getElementById("position_status");
                status.innerHTML = html_data;
                fetchUserSportChoices();
            }
        });
    }

$("#add_availability").click(function(e) {
    e.preventDefault();
    var day_of_week_value = $("#day_of_week option:selected");
    var day_of_week_text = day_of_week_value.val();
    var start_time_val = $("#start_time").val();
    var end_time_val = $("#end_time").val();
    var all_day_val = $("#all_day")[0].checked;
    console.log(start_time_val);
    console.log(end_time_val);
    if(start_time_val === "" || end_time_val === "" || day_of_week_text === ""){
        let msg = "Please fill in the empty fields!";
        let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
        html_data += `${msg}`;
        html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
        html_data += `</div>`;
        let status = document.getElementById("availability_status");
        status.innerHTML = html_data;
    }
    else {
        if (start_time_val > end_time_val) {
            let msg = "Please check availability times! Start time cannot be after end time";
            let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
            html_data += `${msg}`;
            html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            html_data += `</div>`;
            let status = document.getElementById("availability_status");
            status.innerHTML = html_data;
        } else {
            $.ajax({
                type: "POST",
                url: '{% url "EventsApp:add_user_availability" %}',
                data: {
                    'day_of_week': day_of_week_text,
                    'start_time': start_time_val,
                    'end_time': end_time_val,
                    'all_day': all_day_val,
                    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                },
                success: function (data) {
                    let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
                    html_data += `${data["status"]}`;
                    html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
                    html_data += `</div>`;
                    let status = document.getElementById("availability_status");
                    status.innerHTML = html_data;
                    getUserAvailability();
                }
            });
        }
    }
});

function getUserAvailability(){
    $.ajax({
        type: "GET",
        async:false,
        url: '{% url "EventsApp:get_user_availability" %}',
        success: function (data) {
            let html_data = `<table class="table table-striped"><thead style="font-weight:bold"><tr><td>Day</td><td>Start Time</td><td>End Time</td><td>All Day</td><td>Delete</td><td>Add</td><td>Edit</td></tr></thead><tbody>`;
            data.forEach(function (data) {
                html_data += `<tr>`;
                html_data += `<td>${data.day_of_week}</td>`;
                html_data += "<td>" + (!data.all_day ? data.start_time : "All Day") + "</td>";
                html_data += "<td>" + (!data.all_day ? data.end_time : "All Day") + "</td>";
                html_data += `<td>`;
                html_data += "<input type='checkbox' style='background-color:white' " + (data.all_day ? "checked" : "") + " disabled></input>";
                html_data += `</td>`;
                html_data += `<td>`;
                html_data += `<a href='#' onclick='delete_availability(${data.pk})'>`;
                html_data += `<i class="bi bi-trash" style="color:red"></i>`;
                html_data += `</a>`;
                html_data += `</td>`;
                html_data += `<td>`;
                html_data += `<a href='#' onclick="show_availability('${data.day_of_week}', '${data.start_time}', '${data.end_time}', 'Add', ${data.pk})">`;
                html_data += `<i class="bi bi-plus-circle" style="color:green"></i>`;
                html_data += `</a>`;
                html_data += `</td>`;
                html_data += `<td>`;
                html_data += `<a href='#' onclick="show_availability('${data.day_of_week}', '${data.start_time}' , '${data.end_time}', 'Edit', ${data.pk})">`;
                html_data += `<i class="bi bi-pencil-square" style="color:blue"></i>`;
                html_data += `</a>`;
                html_data += `</td>`;
                html_data += `</tr>`;
            });
            html_data += `</tbody></table>`;
            let tableData = document.getElementById("availability_table");
            tableData.innerHTML = html_data;
        }
    });
}


function delete_availability(availability_id){
    $.ajax({
        type: "POST",
        url: '{% url "EventsApp:delete_availability" %}',
        data: {
            'id': availability_id,
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {
            let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
            html_data += `${data["status"]}`;
            html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            html_data += `</div>`;
            let status = document.getElementById("availability_status");
            status.innerHTML = html_data;
            getUserAvailability();
        }
    });
}

function show_availability(day_of_week, start_time, end_time, add_or_edit, pk){

    if(start_time == "midnight" || start_time == "All Day") start_time = "00:00";
    if(end_time == "midnight" || end_time == "All Day") end_time = "00:00";
    let week_days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"];
    $('#day_of_week')[0].value =  week_days.indexOf(day_of_week) + 1;
    if (add_or_edit == "Edit"){
        delete_availability(pk);
        $("#add_availability")[0].value = "Save Changes";
        $('#start_time')[0].value = moment(start_time,['h:m a', 'H:m']).format("HH:mm").toString();
        $('#end_time')[0].value = moment(end_time,['h:m a', 'H:m']).format("HH:mm");
    }
    $("#add_avail_div").show();
}

function all_day_checked(){
    if($('#all_day')[0].checked){
        $('#start_time')[0].value = '00:00';
        $('#end_time')[0].value = '23:59';
        $('#start_time')[0].disabled = true;
        $('#end_time')[0].disabled = true;
    }
    else{
        $('#start_time')[0].disabled = false;
        $('#end_time')[0].disabled = false;
    }
}


$("#position").change(function () {
    var selected_position_value = $("#position option:selected");
    var selected_position_text = selected_position_value.text();
    var selected_type_value = $("#sports option:selected");
    var selected_type_text = selected_type_value.text();
    console.log(selected_position_text, selected_type_text);
        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:get_selected_sports_skill" %}',
            data: {
                'selected_position_text': selected_position_text,
                'selected_type_text': selected_type_text,
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = '<option value="" selected disabled>* Choose Skill</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.skill_type}">${data.skill_type}</option>`
                });
                console.log(html_data);
                $("#skill").html(html_data);
            }
        });
    });

    $(document).ready(function () {
        var tab1 = $("#tab-1");
        var tab2 = $("#tab-2");
        var tab3 = $("#tab-3");
        var tab4 = $("#tab-4");
        tab2.hide();
        tab3.hide();
        tab4.hide();

        $("li#step1").click(function () {
            tab1.show();
            tab2.hide();
            tab3.hide();
            tab4.hide();
            $("#step1").addClass("active");
            $("#step2").removeClass("active");
            $("#step3").removeClass("active");
            $("#step4").removeClass("active");
        });
        $("li#step2").click(function () {
            tab1.hide();
            tab2.show();
            tab3.hide();
            tab4.hide();
            $("#step2").addClass("active");
            $("#step3").removeClass("active");
            $("#step4").removeClass("active");
        });
        $("li#step3").click(function () {
            tab1.hide();
            tab2.hide();
            tab3.show();
            tab4.hide();
            $("#step3").addClass("active");
            $("#step4").removeClass("active");
        });
        $("li#step4").click(function () {
            tab1.hide();
            tab2.hide();
            tab3.hide();
            tab4.show();
            $("#step4").addClass("active");
        });

        $("#next-tab-1").click(function () {
            var tab1 = $("#tab-1");
            var tab2 = $("#tab-2");
            var tab3 = $("#tab-3");
            var tab4 = $("#tab-4");
            tab1.hide();
            tab2.show();
            tab3.hide();
            tab4.hide();
            $("#step2").addClass("active");
        });

        $("#next-tab-2").click(function(){
            var tab1 = $("#tab-1");
            var tab2 = $("#tab-2");
            var tab3 = $("#tab-3");
            var tab4 = $("#tab-4");
            tab1.hide();
            tab2.hide();
            tab3.show();
            tab4.hide();
            $("#step3").addClass("active");
        });

        $("#next-tab-3").click(function () {
            var tab1 = $("#tab-1");
            var tab2 = $("#tab-2");
            var tab3 = $("#tab-3");
            var tab4 = $("#tab-4");
            tab1.hide();
            tab2.hide();
            tab3.hide();
            tab4.show();
            $("#step4").addClass("active");
        });

        $("#previous-tab-2").click(function () {
            var tab1 = $("#tab-1");
            var tab2 = $("#tab-2");
            var tab3 = $("#tab-3");
            var tab4 = $("#tab-4");
            tab1.show();
            tab2.hide();
            tab3.hide();
            tab4.hide();
            $("#step2").removeClass("active");
        });

        $("#previous-tab-3").click(function () {
            var tab1 = $("#tab-1");
            var tab2 = $("#tab-2");
            var tab3 = $("#tab-3");
            var tab4 = $("#tab-4");
            tab1.hide();
            tab2.show();
            tab3.hide();
            tab4.hide();
            $("#step3").removeClass("active");
        });

        $("#previous-tab-4").click(function () {
            var tab1 = $("#tab-1");
            var tab2 = $("#tab-2");
            var tab3 = $("#tab-3");
            var tab4 = $("#tab-4");
            tab1.hide();
            tab2.hide();
            tab3.show();
            tab4.hide();
            $("#step4").removeClass("active");
        });

    });

(function($) {

  $.fn.areYouSure = function(options) {

    var settings = $.extend(
      {
        'message' : 'You have unsaved changes!',
        'dirtyClass' : 'dirty',
        'change' : null,
        'silent' : false,
        'addRemoveFieldsMarksDirty' : false,
        'fieldEvents' : 'change keyup propertychange input',
        'fieldSelector': ":input:not(input[type=submit]):not(input[type=button])"
      }, options);

    var getValue = function($field) {
      if ($field.hasClass('ays-ignore')
          || $field.hasClass('aysIgnore')
          || $field.attr('data-ays-ignore')
          || $field.attr('name') === undefined) {
        return null;
      }

      if ($field.is(':disabled')) {
        return 'ays-disabled';
      }

      var val;
      var type = $field.attr('type');
      if ($field.is('select')) {
        type = 'select';
      }

      switch (type) {
        case 'checkbox':
        case 'radio':
          val = $field.is(':checked');
          break;
        case 'select':
          val = '';
          $field.find('option').each(function(o) {
            var $option = $(this);
            if ($option.is(':selected')) {
              val += $option.val();
            }
          });
          break;
        default:
          val = $field.val();
      }

      return val;
    };

    var storeOrigValue = function($field) {
      $field.data('ays-orig', getValue($field));
    };

    var checkForm = function(evt) {

      var isFieldDirty = function($field) {
        var origValue = $field.data('ays-orig');
        if (undefined === origValue) {
          return false;
        }
        return (getValue($field) != origValue);
      };

      var $form = ($(this).is('form'))
                    ? $(this)
                    : $(this).parents('form');

      // Test on the target first as it's the most likely to be dirty
      if (isFieldDirty($(evt.target))) {
        setDirtyStatus($form, true);
        return;
      }

      $fields = $form.find(settings.fieldSelector);

      if (settings.addRemoveFieldsMarksDirty) {
        // Check if field count has changed
        var origCount = $form.data("ays-orig-field-count");
        if (origCount != $fields.length) {
          setDirtyStatus($form, true);
          return;
        }
      }

      // Brute force - check each field
      var isDirty = false;
      $fields.each(function() {
        var $field = $(this);
        if (isFieldDirty($field)) {
          isDirty = true;
          return false; // break
        }
      });

      setDirtyStatus($form, isDirty);
    };

    var initForm = function($form) {
      var fields = $form.find(settings.fieldSelector);
      $(fields).each(function() { storeOrigValue($(this)); });
      $(fields).unbind(settings.fieldEvents, checkForm);
      $(fields).bind(settings.fieldEvents, checkForm);
      $form.data("ays-orig-field-count", $(fields).length);
      setDirtyStatus($form, false);
    };

    var setDirtyStatus = function($form, isDirty) {
      var changed = isDirty != $form.hasClass(settings.dirtyClass);
      $form.toggleClass(settings.dirtyClass, isDirty);

      // Fire change event if required
      if (changed) {
        if (settings.change) settings.change.call($form, $form);

        if (isDirty) $form.trigger('dirty.areYouSure', [$form]);
        if (!isDirty) $form.trigger('clean.areYouSure', [$form]);
        $form.trigger('change.areYouSure', [$form]);
      }
    };

    var rescan = function() {
      var $form = $(this);
      var fields = $form.find(settings.fieldSelector);
      $(fields).each(function() {
        var $field = $(this);
        if (!$field.data('ays-orig')) {
          storeOrigValue($field);
          $field.bind(settings.fieldEvents, checkForm);
        }
      });
      // Check for changes while we're here
      $form.trigger('checkform.areYouSure');
    };

    var reinitialize = function() {
      initForm($(this));
    }

    if (!settings.silent && !window.aysUnloadSet) {
      window.aysUnloadSet = true;
      $(window).bind('beforeunload', function() {
        $dirtyForms = $("form").filter('.' + settings.dirtyClass);
        if ($dirtyForms.length == 0) {
          return;
        }
        // Prevent multiple prompts - seen on Chrome and IE
        if (navigator.userAgent.toLowerCase().match(/msie|chrome/)) {
          if (window.aysHasPrompted) {
            return;
          }
          window.aysHasPrompted = true;
          window.setTimeout(function() {window.aysHasPrompted = false;}, 900);
        }
        return settings.message;
      });
    }

    return this.each(function(elem) {
      if (!$(this).is('form')) {
        return;
      }
      var $form = $(this);

      $form.submit(function() {
        $form.removeClass(settings.dirtyClass);
      });
      $form.bind('reset', function() { setDirtyStatus($form, false); });
      // Add a custom events
      $form.bind('rescan.areYouSure', rescan);
      $form.bind('reinitialize.areYouSure', reinitialize);
      $form.bind('checkform.areYouSure', checkForm);
      initForm($form);
    });
  };
})(jQuery);


    // Logic to show alert when user leaving page without saving
    $(function () {
        $('form').areYouSure();
        //var formSubmitting = false;
        //$("#msform").on('submit', function () {
        //    formSubmitting = true;
        //});
        //window.onload = function () {
        //    window.addEventListener("beforeunload", function (e) {
        //        if (formSubmitting) {
        //            return undefined;
        //        }
        //
        //        var confirmationMessage = 'It appears you have unsaved changes, if you leave now, your changes will be lost.';
        //
        //        (e || window.event).returnValue = confirmationMessage; //Gecko + IE
        //        return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
        //    });
        //};
    });

    // Make Placeholders title when user types something
function addInputLabel(evt) {
    if (document.getElementsByName(evt.currentTarget.name)[0] && document.getElementsByName(evt.currentTarget.name)[0].type !== 'button' && document.getElementsByName(evt.currentTarget.name)[0].type !== 'text'){
        // console.log(document.getElementsByName(evt.currentTarget.name)[0]);
        var myLabel = document.createElement('div');
        myLabel.textContent = evt.currentTarget.placeholder;
        myLabel.classList.add('my-label');
        if (document.getElementsByName(evt.currentTarget.name)[0]) {
            var parentDiv = document.getElementsByName(evt.currentTarget.name)[0].parentElement;
            if(parentDiv.getElementsByClassName('my-label').length < 1) {
                parentDiv.insertBefore(myLabel, evt.currentTarget);
            }
            else{
                if(evt.currentTarget.value.length == 0){
                    parentDiv.removeChild(parentDiv.getElementsByClassName('my-label')[0]);
                }
            }
        }
    }
}

$(document).ready(function() {

  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });
});
let selector = document.getElementById("phone");

let im = new Inputmask("999-999-9999");
im.mask(selector);
</script>

{% endblock %}