{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}


{% if user.is_authenticated %}
<div class="row">
    <div class="col mx-auto">
        <center>
            {% if submitted %}
            Your Event was Submitted
            Successfully!!!
        </center>
    </div>
</div>
{% else %}


<div class="row">
    <div class="col-6 mx-auto">
        <form id="msform" action="{% url 'multistep'%}" method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <b>{{ field }}</b>: {{ error }}
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}


            <ul id="progressbar" class="mx-auto text-center" style="padding-left: 0px;">
                <li class="active" id="step1">Personal Details</li>
                <li id="step2">Location Details</li>
                <li id="step3">Sports Choices</li>
            </ul>

            <fieldset class="p-2" id="tab-1">
                <div class="card shadow">
                    <h4 class="card-header text-white"
                        style="background: linear-gradient(to bottom left, #1bc2bf, #0ddff6, #26bbcc);">Tell us little
                        about you</h4>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="first_name" placeholder="First Name"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="last_name" placeholder="Last Name"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="date" class="form-control" name="dob" placeholder="DoB"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="contact_email" placeholder="Contact Email"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="mobile" placeholder="Mobile"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="provider" placeholder="Provider"/>
                        </div>
                        <div class="form-row p-2">
                            <label>I am interest in participating in ?</label>
                            <input type="radio" id="chkYes" name="interest_gender">Male</input>
                            <input type="radio" value="" id="chkNo" name="interest_gender"> Female </input>
                            <input type="radio" value="" id="chkNo" name="interest_gender"> Coed </input>
                        </div>
                        <div class="form-row p-2">
                            <label>Have you ever suffered concussion?</label>
                            <input type="radio" id="chkYes" name="is_concussion">Yes</input>
                            <input type="radio" value="" id="chkNo" name="is_concussion"> No</input>
                        </div>

                        <div class="form-row p-2">
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                   style="background: #ff6f3d; border: none;" value="Next" id="next-tab-1"/>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset class="p-2" id="tab-2">
                <div class="card shadow">
                    <h4 class="card-header text-white"
                        style="background: linear-gradient(to bottom left, #1bc2bf, #0ddff6, #26bbcc);">
                        Hey {{ user.first_name }} list your locations where you can participate in </h4>
                    <label></label>
                    <div class="form-row p-2">
                        <input type="text" class="form-control" name="city" placeholder="City"/>
                    </div>
                    <div class="form-row p-2">
                        <input type="text" class="form-control" name="province" placeholder="Province"/>
                    </div>
                    <div class="form-row p-2">
                        <input type="text" class="form-control" name="Country" placeholder="Country"/>
                    </div>
                    <div class="form-row p-2">
                        <div id="input_fields_wrap">
                            <button class="btn btn-primary" style="background: #ff6f3d; border: none;"
                                    id="add_field_button">Add location
                            </button>
                        </div>
                    </div>
                    <div class="form-row p-2">
                        <input type="button" name="previous"
                               class="previous action-button-previous btn btn-primary"
                               style="background: #ff6f3d; border: none;" value="Previous" id="previous-tab-2"/>
                        <input type="button" name="next" class="next action-button btn btn-primary"
                               style="background: #ff6f3d; border: none;" value="Next" id="next-tab-2"/>
                    </div>
                </div>
            </fieldset>

            <fieldset class="p-2" id="tab-3">
                <div class="card shadow">
                    <h4 class="card-header text-white"
                        style="background: linear-gradient(to bottom left, #1bc2bf, #0ddff6, #26bbcc);">{{
                        user.first_name }} ,
                        add sports you love to play and the ones you would love to play</h4>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <select name='sport_category' id="category" class="form-select"
                                    aria-label=".form-select-lg example">
                                <option selected>Choose Sport Category</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <select name='sport_type' id="sports" class="form-select"
                                    aria-label=".form-select-lg example">
                                <option selected disabled>Choose Sport Type</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <select name='position' class="form-select"
                                    aria-label=".form-select-lg example">
                                <option selected disabled>Choose position</option>
                                <option>Athelete</option>
                                <option>Coach</option>
                                <option>Attendee</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <select name='skill' class="form-select"
                                    aria-label=".form-select-lg example">
                                <option selected disabled>Choose Skill</option>
                                <option>Rookie</option>
                                <option>Recreational</option>
                                <option>Competitive</option>
                                <option>Pro-Bound</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <div id="input_fields">
                                <button class="btn btn-primary" style="background: #ff6f3d; border: none;"
                                        id="add_button">Add Position
                                </button>
                            </div>
                        </div>
                        <div class="form-row p-2">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   style="background: #ff6f3d; border: none;" value="Previous" id="previous-tab-3"/>

                            <input type="submit" name="submit" class="submit action-button btn btn-primary"
                                   style="background: #ff6f3d; border: none;" value="Submit"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        {% endif %}
    </div>
</div>

{% endif %}


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

<style>
   #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #ff6f3d;
}

#progressbar li {
    display:inline-block;
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #ff6f3d
}


</style>

<script>


$(document).ready(function(){
  var tab2 = $("#tab-2");
  var tab3 = $("#tab-3");
  tab2.hide();
  tab3.hide();

  $("#next-tab-1").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.show();
    tab3.hide();
    $("#step2").addClass("active");
  });

  $("#next-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.hide();
    tab3.show();
    $("#step3").addClass("active");
  });

  $("#previous-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.show();
    tab2.hide();
    tab3.hide();
    $("#step2").removeClass("active");
  });

  $("#previous-tab-3").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.show();
    tab3.hide();
    $("#step3").removeClass("active");
  });

});


    $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $("#input_fields_wrap"); //Fields wrapper
    var add_button      = $("#add_field_button"); //Add button ID

    var x = 1; //initlal text box count


   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed

             //text box increment
            $(wrapper).append('<div><input name="city" class="form-control" type="text" placeholder = "City"><input type="text" class="form-control" name ="province" placeholder="Province"><input type="text" class="form-control" name="country" placeholder= "Country"><a href="#" class="remove_field">Remove</a></div>'); //add input box
            x++;
      }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text

        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});

    $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $("#input_fields"); //Fields wrapper
    var add_button      = $("#add_button"); //Add button ID

    var x = 1; //initlal text box count


   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed

             //text box increment
            $(wrapper).append('<div><select name="sport_category" id="category" class="form-select" aria-label=".form-select-lg example"><option selected disabled>Choose Sport Category</option></select><select name="sport_types" id="sports" class="form-select" aria-label=".form-select-lg example"><option selected disabled>Choose Sport Type</option></select><select name="position" class="form-select" aria-label=".form-select-lg example"><option selected disabled>Choose position</option><option>Athelete</option><option>Coach</option><option>Attendee</option><a href="#" class="remove_field">Remove</a></div>'); //add input box
            x++;
      }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text

        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});
 var sportsObject = {
    "Targeting": {
            "Archery":[],
            "Wheelchair Archery":[]
          },
    "Combat Sport": {
           "Mauy Thai/Kick Boxing":[],
           "Mixed Martial Arts":[],
           "Paintball":[],
             "Red Rover":[]
     },
     "Dance": {
            "Dance":[]
          },
      "Combat Sport": {
           "Aerobics":[],
           "Gymnastics":[],
             "Multisport":[],
           "Park Program":[],
           "Spin":[],
           "Weight Training":[],
           "Yoga":[]
     },
     "Football/Rugby": {
           "Wheelchair Rugby":[],
           "Flag Football":[],
             "Football":[],
           "Rugby":[],
           "Touch Football":[]
     },
     "Racquet/Volleying": {
           "Handball":[],
           "Badminton":[],
             "Wheelchair Badminton":[],
           "Pickleball":[],
           "Round Ball":[],
           "Sitting Volleyball":[],
           "Squash":[],
           "Table Tennis":[],
           "Wheelchair Table Tennis":[],
           "Tennis":[],
           "Wheelchair Tennis":[],
           "Volleyball":[]
     },
     "Riding(Equestrian, Vehicular, Paddling)": {
"Bobsledding":[],
"Dog Sledding":[],
"Luge":[],
"Skateboarding/Scootering":[],
"Skim Boarding":[],
"Surfing/Wind Surfing":[],
"Base Jumping":[],
"BMX":[],
"Canoeing":[],
"Cart":[],
"Dragon Boat":[],
"Equestrian":[],
"Fishing":[],
"Indoor Skydiving":[],
"Kayaking":[],
"Motorcross":[],
"Outdoor Skydiving":[],
"Paddle Boarding":[],
"ParaGliding/ParaSailing":[],
"Polo":[],
"Rafting":[],
"Rowing":[],
"Sailing/Boating":[]
},
"Running/Track/Parkour": {
"Cross Country Running":[],
"Discus":[],
"High Jump":[],
"Hurling":[],
"Javelin":[],
"Marathoning":[],
"Mudder":[],
"Parkour":[],
"Pole Vault":[],
"Running":[],
"Shot Put":[],
"Track Running":[],
"Trekking":[]
},

"Swimming": {
"Water Aerobics":[],
"Water Polo":[],
"Diving":[],
"Scuba":[],
"Swimming":[],
"Synchro Swimming":[],
},

"Trampolining": {
"Trampolining":[]
},

"Baseball": {
  "Fastball":[],
"Soccer Baseball":[],
"Softball":[],
"T-Ball":[],
"Basketball":[],
"Wheelchair Basketball":[],
"Climbing":[]
},

"Climbing": {
"Ninja Camp":[],
"Climbing":[]
},

"Cricket": {
"Cricket":[]
},

"Frisbee": {
"Disk Golf":[],
"Ultimate Frisbee":[],
"Ultimate Para-frisbee":[]
},

"Golf": {
"Golf":[]
},

"Hockey/Skating/Blading": {
  "Amputee Hockey":[],
"Ball/Floor Hockey":[],
"Blind Hockey":[],
"Field Hockey":[],
"Figure Skating":[],
"Ice Hockey":[],
"Ice Skating":[],
"Inline/Roller Hockey":[],
"Ringette":[],
"Shinny":[],
"Sledge Hockey":[],
"Speed Skating":[],
"Stick & Puck":[]

},

"Lacrosse": {
"Box Lacrosse":[],
"Field Lacrosse":[],
"Boss":[]
},

"Skiing (Water, Terrestrial, Boarding)": {
  "Cross Country Skiing":[],
"Downhill/Alpine":[],
"Skiing":[],
"Paraskiing":[],
"Snowboarding":[]
},

"Soccer": {
  "Beach Soccer":[],
"Bubble Soccer":[],
"Soccer":[],
"ParaSoccer":[]

},

"Strategy": {
"Board Game":[],
"Panic Room":[],
"First Responding":[]
},

"Basketball": {
  "Basketball":[],
"Wheelchair Basketball":[],

},

}

  window.onload = function() {
  var catgeorySel = document.getElementById("category");
  var sportsSel = document.getElementById("sports");
  for (var x in sportsObject) {
    catgeorySel.options[catgeorySel.options.length] = new Option(x, x);
  }
  catgeorySel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    sportsSel.length = 1;
    //display correct values
    for (var y in sportsObject[this.value]) {
      sportsSel.options[sportsSel.options.length] = new Option(y, y);

    }
  }
}


$(function() {
  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    startDate: moment().startOf('hour'),
    endDate: moment().startOf('hour').add(32, 'hour'),
    locale: {
      format: 'MM/DD/YYYY hh:mm A'
    }
  });
});


$(function () {
        $("input[name='event_cost']").click(function () {
            if ($("#chkYes").is(":checked")) {
                $("#dvPassport").show();
            } else {
                $("#dvPassport").hide();
            }
        });
    });
$(function () {
        $("input[name='position_price']").click(function () {
            if ($("#chkYes1").is(":checked")) {
                $("#dvPassport1").show();
            } else {
                $("#dvPassport1").hide();
            }
        });
    });

$('.radio').change(function() {
  $('#custom_amount').prop('disabled', !$(this).is('.other'));
});





</script>

{% endblock %}