{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
        <div class="card shadow p-2 m-2 bg-body rounded"
             style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
            <div class="card-body px-lg-5 py-lg-5">
                <h4 class="card-title py-2 text-white text-center">Welcome !</h4>
                <form method="POST">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="form-group mb-3">
                        {% render_field form.username class="form-control" placeholder="Email" %}
                    </div>
                    <div class="form-group mb-3">
                        {% render_field form.password class="form-control" placeholder="Password" %}
                    </div>

                    <div class="text-center mb-3">
                        <button type="submit" class="btn my-3 shadow rounded text-white"
                                style="background: #ff6f3d; width:100px;">Login
                        </button>
                    </div>
                </form>
                <div class="text-center mb-3">
                    <a class="my-3 text-white" href="{% url 'UserRegister:register' %}">Sign Up Here!</a>
                </div>
                <div class="text-center mb-3">
                    <a type="link" onclick="window.location='/users/password_reset/'" class="my-3 text-white"
                       style="width:150px;">Forgot your password?
                    </a>
<a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// Make Placeholders title when user types something
function addInputLabel(evt) {
    var myLabel = document.createElement('div');
    myLabel.textContent = evt.currentTarget.placeholder;
    myLabel.classList.add('my-label');
    var parentDiv = document.getElementsByName(evt.currentTarget.name)[0].parentElement;
    if(parentDiv.getElementsByClassName('my-label').length < 1) {
        parentDiv.insertBefore(myLabel, evt.currentTarget);
    }
    else{
        if(evt.currentTarget.value.length == 0){
            parentDiv.removeChild(parentDiv.getElementsByClassName('my-label')[0]);
        }
    }
}

var inputs = document.getElementsByTagName('input');
for (let i of inputs){
    i.addEventListener('keyup', addInputLabel, false);
}
</script>
<style>
.btn:hover {
box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
    transform: translateY(-1px);
}


</style>

{% endblock %}