{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-9 mx-auto">
        <ul id="progressbar" class="mx-auto text-center" style="padding-left: 0px;">
            <li class="active" id="step1">Organization Type</li>
            <li id="step2">Organization Information</li>
            <li id="step3">Sports Information</li>
            <li id="step4">Program Types</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-6 mx-auto">
        <form id="msform" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}


            <fieldset id="tab-1" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Type of Organization
                    </h3>
                    <div class="card-body">
                        <div class="form-row p-2 text-center">
                            <input type="radio" name="type_of_organization" value='Charity'
                                   {% if organization.type_of_organization == "Charity" %} checked {% endif %}>Charity
                            </input>
                            <br/>
                            <input type="radio" name="type_of_organization" value='Facility'
                                {% if organization.type_of_organization == "Facility" %} checked {% endif %}> Facility
                            </input>
                            <br/>
                            <input type="radio" name="type_of_organization" value='Municipal/Government'
                            {% if organization.type_of_organization == "Municipal/Government" %} checked {% endif %}>
                            Municipal/Government</input>
                            <br/>
                            <input type="radio" name="type_of_organization" value='Sponsor/Partner'
                            {% if organization.type_of_organization == "Sponsor/Partner" %} checked {% endif %}>
                            Sponsor/Partner</input>
                            <br/>
                            <input type="radio" name="type_of_organization" value='League/Association'
                            {% if organization.type_of_organization == "League/Association" %} checked {% endif %}>
                            League/Association</input>
                            <br/>
                            <input type="radio" name="type_of_organization" value='Developer/Trainer'
                            {% if organization.type_of_organization == "Developer/Trainer" %} checked {% endif %}>
                            Developer/Trainer</input>
                            <br/>
                            <div class="form-row p-2 text-center">
                                <input type="button" name="next" class="next action-button btn btn-primary"
                                       value="Next" id="next-tab-1"/>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset id="tab-2" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Organization
                        Information</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <input type="text" name="company_name" class="form-control"
                                   placeholder="Organization Name"
                            value="{% if organization.organization_name %} {{organization.organization_name}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="parent_organization" class="form-control"
                                   placeholder="Parent Organization"
                            value="{% if organization.parent_organization_name %} {{organization.parent_organization_name}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="registration" class="form-control" placeholder="Registration No."
                            value="{% if organization.registration_no %} {{organization.registration_no}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <span>Which year were you eastablished?</span>
                            <select id="year" class="form-select mb-3" aria-label=".form-select-lg example">
                                <option selected>Select Year</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <span>Office location</span>
                            <input type="text" name="street_name" class="form-control" placeholder="Street"
                            value="{% if organization.street %} {{organization.street}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="city" class="form-control" placeholder="City"
                            value="{% if organization.city %} {{organization.city}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="province" class="form-control" placeholder="Province"
                            value="{% if organization.province %} {{organization.province}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="country" class="form-control" placeholder="Country"
                            value="{% if organization.country %} {{organization.country}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="postal_code" class="form-control" placeholder="Postal Code"
                            value="{% if organization.postal_code %} {{organization.postal_code}} {% endif %}">
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   value="Previous" id="previous-tab-2"/>
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                   value="Next" id="next-tab-2"/>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset id="tab-3" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Sports</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <span>What is the most appropriate contact info for the atheletes and the organizer to contact you?</span>
                            <input type="text" name="email" class="form-control" placeholder="Email"
                            value="{% if organization.email %} {{organization.email}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="phone" class="form-control" placeholder="Phone"
                            value="{% if organization.phone %} {{organization.phone}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="website" class="form-control" placeholder="Website"
                            value="{% if organization.website %} {{organization.website}} {% endif %}">
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   value="Previous" id="previous-tab-3"/>
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                   value="Next" id="next-tab-3"/>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset id="tab-4" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Program Types</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <span>Your focus?</span>
                            <input type="radio" id="Male" name="gender" value="Male"
                            {% if organization.gender_focus == "Male" %} checked {% endif %}>Male</input>
                            <input type="radio" id="Female" name="gender" value="Female"
                            {% if organization.gender_focus == "Female" %} checked {% endif %}> Female </input>
                            <input type="radio" id="Coed" name="gender" value="Coed"
                            {% if organization.gender_focus == "Coed" %} checked {% endif %}> Coed </input>
                        </div>
                        <div class="form-row p-2">
                            <select id="select-state" name='age_group' class="form-select"
                                    placeholder="Pick a state...">
                                <option value="">Select an Age group</option>
                                <option value="Youth"
                                {% if organization.age_group == "Youth" %} selected {% endif %}>Youth</option>
                                <option value="Adult"
                                {% if organization.age_group == "Adult" %} selected {% endif %}>Adult</option>
                                <option value="Senior"
                                {% if organization.age_group == "Senior" %} selected {% endif %}>Senior</option>
                            </select>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   value="Previous" id="previous-tab-4"/>

                            <input type="submit" name="submit" class="submit action-button btn btn-primary"
                                   value="Submit"/>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>

    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

<style>
   #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #ff6f3d;
}

#progressbar li {
    display:inline-block;
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar #step4:before {
    content: "4"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #ff6f3d
}




</style>

<script type="text/javascript">

$(document).ready(function(){
  var tab2 = $("#tab-2");
  var tab3 = $("#tab-3");
  var tab4 = $("#tab-4");
  tab2.hide();
  tab3.hide();
  tab4.hide();

  $("#next-tab-1").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.show();
    tab3.hide();
    tab4.hide();
    $("#step2").addClass("active");
  });

  $("#next-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.hide();
    tab3.show();
    tab4.hide();
    $("#step3").addClass("active");
  });

  $("#next-tab-3").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.hide();
    tab3.hide();
    tab4.show();
    $("#step4").addClass("active");
  });

  $("#previous-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.show();
    tab2.hide();
    tab3.hide();
    tab4.hide();
    $("#step2").removeClass("active");
  });

  $("#previous-tab-3").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.show();
    tab3.hide();
    tab4.hide();
    $("#step3").removeClass("active");
  });

  $("#previous-tab-4").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.hide();
    tab3.show();
    tab4.hide();
    $("#step4").removeClass("active");
  });

});

for(y = 1900; y <= 2022; y++) {
    var selected_year = "{{organization.year_established}}";
    var optn = document.createElement("OPTION");
    optn.text = y;
    optn.value = y;
    if (y == selected_year) {
        optn.selected = true;
    }
    document.getElementById('year').options.add(optn);
}


$(function() {
  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    startDate: moment().startOf('hour'),
    endDate: moment().startOf('hour').add(32, 'hour'),
    locale: {
      format: 'MM/DD/YYYY hh:mm A'
    }
  });
});


$(function () {
        $("input[name='event_cost']").click(function () {
            if ($("#chkYes").is(":checked")) {
                $("#dvPassport").show();
            } else {
                $("#dvPassport").hide();
            }
        });
    });
$(function () {
        $("input[name='position_price']").click(function () {
            if ($("#chkYes1").is(":checked")) {
                $("#dvPassport1").show();
            } else {
                $("#dvPassport1").hide();
            }
        });
    });

$('.radio').change(function() {
  $('#custom_amount').prop('disabled', !$(this).is('.other'));
});

</script>


{% endblock %}