{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-xl-4 col-lg-5 col-md-8 col-sm-11 mx-auto">
        <div class="card shadow">
            <h3 class="card-header text-center text-white"
                style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">Organization
                Registration</h3>
            <div class="card-body">
                <form action="{% url 'UserRegister:organization_register' %}" method="POST" novalidate>
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                        {% for error in field.errors %}
                        <span style="color:red">{{ error }}</span>
                        {% endfor %}
                        {% endfor %}
                        <div class="text-center mb-3">
                            <input type="submit" value="Register" class="btn my-3 shadow rounded text-white"
                                   style="background: #ff6f3d;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
        function callWidthChange(myWidth, myHeight) {
        if (myWidth >= 768) {
            if(document.getElementById("card-resize")){
                document.getElementById("card-resize").classList.remove("col-11");
                document.getElementById("card-resize").classList.add("col-5");
            }
        } else {
            if(document.getElementById("card-resize")){
                document.getElementById("card-resize").classList.remove("col-5");
                document.getElementById("card-resize").classList.add("col-11");
            }
        }
    }
    
    $(document).ready(function () {
        let myWidth = $(window).width();
        let myHeight = window.innerHeight;
        callWidthChange(myWidth, myHeight);   
        $(window).resize(function () {
        var nw = $(window).width();
        let myHeight = window.innerHeight;
        myWidth = nw;
        callWidthChange(myWidth, myHeight);   
    });
    });
</script>

{% endblock %}