{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-5 mx-auto">
        <div class="card shadow">
            <h3 class="card-header text-center text-white"
                style="background: linear-gradient(to bottom left, #1bc2bf, #0ddff6, #26bbcc);">Organization
                Registration</h3>
            <div class="card-body">
                <form action="{% url 'organization_register' %}" method="POST" novalidate>
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% render_field field class="form-control" %}
                        {% for error in field.errors %}
                        <span style="color:red">{{ error }}</span>
                        {% endfor %}
                        {% endfor %}
                        <div class="text-center mb-3">
                            <input type="submit" value="Register" class="btn my-3 shadow rounded text-white"
                                   style="background: #ff6f3d;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}