{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}



<div class="row">
    <div class="col-9 mx-auto">
        <ul id="progressbar" class="mx-auto text-center" style="padding-left: 0px;">
            <li class="active" id="step1">Organization Type</li>
            <li id="step2">Organization Information</li>
            <li id="step3">Sports Information</li>
            <li id="step4">Program Types</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-6 mx-auto">
        <form id="msform" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}


            <fieldset id="tab-1" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Type of Organization
                    </h3>
                    <div class="card-body">
                        <div class="form-row p-2 text-center">
                            <input type="radio" name="type_of_organization" value='charity'/>
                            <label for='Charity'>Charity</label>
                            <br/>
                            <input type="radio" name="type_of_organization" value='facility'/>
                            <label for='facility'>Facility</label>
                            <br/>
                            <input type="radio" name="type_of_organization" value='muncipal/government'/>
                            <label for='muncipal/government'>Municipal/Government</label>
                            <br/>
                            <input type="radio" name="type_of_organization" value='sponsor/partner'/>
                            <label for='sponsor/partner'>Sponsor/Partner</label>
                            <br/>
                            <input type="radio" name="gender" value='muncipal/government'/>
                            <label for='muncipal/government'>League/Association</label>
                            <br/>
                            <input type="radio" name="gender" value='muncipal/government'/>
                            <label for='muncipal/government'>Developer/Trainer</label>
                            <br/>
                            <div class="form-row p-2 text-center">
                                <input type="button" name="next" class="next action-button btn btn-primary"
                                        value="Next" id="next-tab-1"/>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset id="tab-2" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">Organization
                        Information</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <input type="text" name="company_name" class="form-control"
                                   placeholder="Organization Name"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="parent_organization" class="form-control"
                                   placeholder="Parent Organization"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="number" name="registration" class="form-control" placeholder="Registration #">
                        </div>
                        <div class="form-row p-2">
                            <span>Which year were you eastablished?</span>
                            <select id="year" class="form-select mb-3" aria-label=".form-select-lg example">
                                <option selected>Select Year</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <span>Office location</span>
                            <input type="text" name="street_name" class="form-control" placeholder="Street">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="city" class="form-control" placeholder="City">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="province" class="form-control" placeholder="Province">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="country" class="form-control" placeholder="Country">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="postal_code" class="form-control" placeholder="Postal Code">
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                    value="Previous" id="previous-tab-2"/>
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                    value="Next" id="next-tab-2"/>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset id="tab-3" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Sports</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <span>What is the most appropriate contact info for the atheletes and the organizer to contact you?</span>
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="phone" class="form-control" placeholder="Phone">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="website" class="form-control" placeholder="Website">
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                    value="Previous" id="previous-tab-3"/>
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                    value="Next" id="next-tab-3"/>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset id="tab-4" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Program Types</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <span>Your focus?</span>
                            <input type="radio" name="gender" id='male' value='male'/>
                            <label for='male'>Male</label>
                            <input type="radio" name="gender" id='female' value='female'/>
                            <label for='female'>Female</label>
                            <input type="radio" name="gender" id='coed' value='coed'/>
                            <label for='male'>Coed</label>
                        </div>
                        <div class="form-row p-2">
                            <select id="select-state" name='age_group' class="form-select"
                                    placeholder="Pick a state...">
                                <option value="">Select an Age group</option>
                                <option value="youth">youth</option>
                                <option value="adult">adult</option>
                                <option value="senior">senior</option>
                            </select>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                    value="Previous" id="previous-tab-4"/>

                            <input type="submit" name="submit" class="submit action-button btn btn-primary"
                                    value="Submit"/>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>

    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

<style>
.btn-primary {
  color: #fff;
  background-color: #ff6f3d;
  border-color: #ff6f3d; }
  .btn-primary:hover {
    color: #fff;
    background-color: #d74715;
    border-color: #d74715; }


   #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #ff6f3d;
}

#progressbar li {
    display:inline-block;
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar #step4:before {
    content: "4"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #ff6f3d
}


</style>

<script type="text/javascript">

$(document).ready(function(){
  var tab2 = $("#tab-2");
  var tab3 = $("#tab-3");
  var tab4 = $("#tab-4");
  tab2.hide();
  tab3.hide();
  tab4.hide();

  $("#next-tab-1").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.show();
    tab3.hide();
    tab4.hide();
    $("#step2").addClass("active");
  });

  $("#next-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.hide();
    tab3.show();
    tab4.hide();
    $("#step3").addClass("active");
  });

  $("#next-tab-3").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.hide();
    tab3.hide();
    tab4.show();
    $("#step4").addClass("active");
  });

  $("#previous-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.show();
    tab2.hide();
    tab3.hide();
    tab4.hide();
    $("#step2").removeClass("active");
  });

  $("#previous-tab-3").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.show();
    tab3.hide();
    tab4.hide();
    $("#step3").removeClass("active");
  });

  $("#previous-tab-4").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.hide();
    tab3.show();
    tab4.hide();
    $("#step4").removeClass("active");
  });

});

for(y = 1900; y <= 2022; y++) {
        var optn = document.createElement("OPTION");
        optn.text = y;
        optn.value = y;
        
        // if year is 2015 selected
        if (y == 2022) {
            optn.selected = true;
        }
        
        document.getElementById('year').options.add(optn);
}

var subjectObject = {
  "Front-end": {
    "HTML": ["Links", "Images", "Tables", "Lists"],
    "CSS": ["Borders", "Margins", "Backgrounds", "Float"],
    "JavaScript": ["Variables", "Operators", "Functions", "Conditions"]    
  },
  "Back-end": {
    "PHP": ["Variables", "Strings", "Arrays"],
    "SQL": ["SELECT", "UPDATE", "DELETE"]
  }
}
window.onload = function() {
  var subjectSel = document.getElementById("subject");
  var topicSel = document.getElementById("topic");
  var chapterSel = document.getElementById("chapter");
  for (var x in subjectObject) {
    subjectSel.options[subjectSel.options.length] = new Option(x, x);
  }
  subjectSel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    chapterSel.length = 1;
    topicSel.length = 1;
    //display correct values
    for (var y in subjectObject[this.value]) {
      topicSel.options[topicSel.options.length] = new Option(y, y);
    }
  }
  topicSel.onchange = function() {
    //empty Chapters dropdown
    chapterSel.length = 1;
    //display correct values
    var z = subjectObject[subjectSel.value][this.value];
    for (var i = 0; i < z.length; i++) {
      chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
    }
  }
}


$(document).ready(function() {
    $('#generate').click(function() {
        var values = ["dog", "cat", "parrot", "rabbit"];
 
    var select = $('<select>').prop('id', 'pets')
                    .prop('name', 'pets');
 
    $(values).each(function() {
        select.append($("<option>")
        .prop('value', this)
        .text(this.charAt(0).toUpperCase() + this.slice(1)));
    });
 
    var label = $("<label>").prop('for', 'pets')
                    .text("Choose your pets: ");
 
    var br = $("<br>");
 
    $('#container').append(label).append(select).append(br);
    })
});

$(function() {
  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    startDate: moment().startOf('hour'),
    endDate: moment().startOf('hour').add(32, 'hour'),
    locale: {
      format: 'MM/DD/YYYY hh:mm A'
    }
  });
});


$(function () {
        $("input[name='event_cost']").click(function () {
            if ($("#chkYes").is(":checked")) {
                $("#dvPassport").show();
            } else {
                $("#dvPassport").hide();
            }
        });
    });
$(function () {
        $("input[name='position_price']").click(function () {
            if ($("#chkYes1").is(":checked")) {
                $("#dvPassport1").show();
            } else {
                $("#dvPassport1").hide();
            }
        });
    });

$('.radio').change(function() {
  $('#custom_amount').prop('disabled', !$(this).is('.other'));
});

 var sportsObject = {
    "Targeting": {
            "Archery":[],
            "Wheelchair Archery":[]
          },
    "Combat Sport": {
           "Mauy Thai/Kick Boxing":[],
           "Mixed Martial Arts":[],
           "Paintball":[],
             "Red Rover":[]
     },
     "Dance": {
            "Dance":[]
          },
      "Combat Sport": {
           "Aerobics":[],
           "Gymnastics":[],
             "Multisport":[],
           "Park Program":[],
           "Spin":[],
           "Weight Training":[],
           "Yoga":[]
     },
     "Football/Rugby": {
           "Wheelchair Rugby":[],
           "Flag Football":[],
             "Football":[],
           "Rugby":[],
           "Touch Football":[]
     },
     "Racquet/Volleying": {
           "Handball":[],
           "Badminton":[],
             "Wheelchair Badminton":[],
           "Pickleball":[],
           "Round Ball":[],
           "Sitting Volleyball":[],
           "Squash":[],
           "Table Tennis":[],
           "Wheelchair Table Tennis":[],
           "Tennis":[],
           "Wheelchair Tennis":[],
           "Volleyball":[]
     },
     "Riding(Equestrian, Vehicular, Paddling)": {
"Bobsledding":[],
"Dog Sledding":[],
"Luge":[],
"Skateboarding/Scootering":[],
"Skim Boarding":[],
"Surfing/Wind Surfing":[],
"Base Jumping":[],
"BMX":[],
"Canoeing":[],
"Cart":[],
"Dragon Boat":[],
"Equestrian":[],
"Fishing":[],
"Indoor Skydiving":[],
"Kayaking":[],
"Motorcross":[],
"Outdoor Skydiving":[],
"Paddle Boarding":[],
"ParaGliding/ParaSailing":[],
"Polo":[],
"Rafting":[],
"Rowing":[],
"Sailing/Boating":[]
},
"Running/Track/Parkour": {
"Cross Country Running":[],
"Discus":[],
"High Jump":[],
"Hurling":[],
"Javelin":[],
"Marathoning":[],
"Mudder":[],
"Parkour":[],
"Pole Vault":[],
"Running":[],
"Shot Put":[],
"Track Running":[],
"Trekking":[]
},

"Swimming": {
"Water Aerobics":[],
"Water Polo":[],
"Diving":[],
"Scuba":[],
"Swimming":[],
"Synchro Swimming":[],
},

"Trampolining": {
"Trampolining":[]
},

"Baseball": {
  "Fastball":[],
"Soccer Baseball":[],
"Softball":[],
"T-Ball":[],
"Basketball":[],
"Wheelchair Basketball":[],
"Climbing":[]
},

"Climbing": {
"Ninja Camp":[],
"Climbing":[]
},

"Cricket": {
"Cricket":[]
},

"Frisbee": {
"Disk Golf":[],
"Ultimate Frisbee":[],
"Ultimate Para-frisbee":[]
},

"Golf": {
"Golf":[]
},

"Hockey/Skating/Blading": {
  "Amputee Hockey":[],
"Ball/Floor Hockey":[],
"Blind Hockey":[],
"Field Hockey":[],
"Figure Skating":[],
"Ice Hockey":[],
"Ice Skating":[],
"Inline/Roller Hockey":[],
"Ringette":[],
"Shinny":[],
"Sledge Hockey":[],
"Speed Skating":[],
"Stick & Puck":[]

},

"Lacrosse": {
"Box Lacrosse":[],
"Field Lacrosse":[],
"Boss":[]
},

"Skiing (Water, Terrestrial, Boarding)": {
  "Cross Country Skiing":[],
"Downhill/Alpine":[],
"Skiing":[],
"Paraskiing":[],
"Snowboarding":[]
},

"Soccer": {
  "Beach Soccer":[],
"Bubble Soccer":[],
"Soccer":[],
"ParaSoccer":[]

},

"Strategy": {
"Board Game":[],
"Panic Room":[],
"First Responding":[]
},

"Basketball": {
  "Basketball":[],
"Wheelchair Basketball":[],

},

}


  window.onload = function() {
  var catgeorySel = document.getElementById("category");
  var sportsSel = document.getElementById("sports");
  for (var x in sportsObject) {
    catgeorySel.options[catgeorySel.options.length] = new Option(x, x);
  }
  catgeorySel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    sportsSel.length = 1;
    //display correct values
    for (var y in sportsObject[this.value]) {
      sportsSel.options[sportsSel.options.length] = new Option(y, y);

    }
  }
}






</script>


{% endblock %}