{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}


<div class="row">
    <div class="col-sm-9 col-12 col-lg-6 mx-auto">
        <ul id="progressbar" class="d-flex justify-content-around mx-auto text-center" style="padding-left: 0px;">
            <li class="active" id="step1">Organization Type</li>
            <li id="step2">Organization Information</li>
            <li id="step3">Sports Information</li>
<!--            <li id="step4">Program Types</li>-->
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-sm-9 col-12 mx-auto">
        <form id="msform" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}


            <fieldset id="tab-1" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Type of Organization
                    </h3>
                    <div class="d-flex justify-content-end p-2">
                        <input type="button" name="next" class="next action-button btn btn-primary"
                                       value="Next" id="next-tab-1"/>
                    </div>
                    <div class="card-body">
                        <div class="form-row p-2 text-center">
                            <input type="radio" name="type_of_organization" value='Charity'
                                   {% if organization.type_of_organization == "Charity" %} checked {% endif %}> Charity
                            </input>
                            <br/>
                            <input type="radio" name="type_of_organization" value='Facility'
                                {% if organization.type_of_organization == "Facility" %} checked {% endif %}> Facility
                            </input>
                            <br/>
                            <input type="radio" name="type_of_organization" value='Municipal/Government'
                            {% if organization.type_of_organization == "Municipal/Government" %} checked {% endif %}>
                            Municipal/Government</input>
                            <br/>
                            <input type="radio" name="type_of_organization" value='Sponsor/Partner'
                            {% if organization.type_of_organization == "Sponsor/Partner" %} checked {% endif %}>
                            Sponsor/Partner</input>
                            <br/>
                            <input type="radio" name="type_of_organization" value='League/Association'
                            {% if organization.type_of_organization == "League/Association" %} checked {% endif %}>
                            League/Association</input>
                            <br/>
                            <input type="radio" name="type_of_organization" value='Developer/Trainer'
                            {% if organization.type_of_organization == "Developer/Trainer" %} checked {% endif %}>
                            Developer/Trainer</input>
                            <br/>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset id="tab-2" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Organization
                        Information</h3>
                    <div class="d-flex justify-content-between p-2">
                        <input type="button" name="previous"
                               class="previous action-button-previous btn btn-primary"
                               value="Previous" id="previous-tab-2"/>
                        <input type="button" name="next" class="next action-button btn btn-primary"
                               value="Next" id="next-tab-2"/>
                    </div>
                    <div class="card-body">
                        <div id="location_status">

                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="company_name" class="form-control"
                                   placeholder="* Organization Name"
                            value="{% if organization.organization_name %} {{organization.organization_name}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="parent_organization" class="form-control"
                                   placeholder="Parent Organization"
                            value="{% if organization.parent_organization_name %} {{organization.parent_organization_name}} {% endif %}"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="registration" class="form-control" placeholder="* Registration No."
                            value="{% if organization.registration_no %} {{organization.registration_no}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <span>Which year were you established?</span>
                            <select id="year" class="form-select mb-3" name="year_established" aria-label=".form-select-lg example">
                                <option selected>Select Year</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <span>What is the most appropriate contact info for the athletes and the organizer to contact you?</span>
                            <input type="text" name="email" class="form-control" placeholder="* Email"
                            value="{% if organization.email %} {{organization.email}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="phone" id="phone" class="form-control" placeholder="* Phone number"
                            data-inputmask="'mask': '999-999-9999'" value="{% if organization.phone %} {{organization.phone}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="website" class="form-control" placeholder="Website"
                            value="{% if organization.website %} {{organization.website}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <span>Office location</span>
                            <input type="text" name="street_name" id="street_name" class="form-control" placeholder="* Street"
                            value="{% if organization.street %} {{organization.street}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="city" id="city" class="form-control" placeholder="* City"
                            value="{% if organization.city %} {{organization.city}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="province" id="province" class="form-control" placeholder="* Province"
                            value="{% if organization.province %} {{organization.province}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="country" id="country" class="form-control" placeholder="* Country"
                            value="{% if organization.country %} {{organization.country}} {% endif %}">
                        </div>
                        <div class="form-row p-2">
                            <input type="text" name="postal_code" id="postal_code" class="form-control" placeholder="* Postal Code"
                            value="{% if organization.postal_code %} {{organization.postal_code}} {% endif %}">
                        </div>
                        <div class="form-row p-2 text-center">
                            <div id="input_fields_wrap">
                                <input type="button" class="action-button btn btn-primary"
                                            id="add_locations" value="Add Location" />
                            </div>
                        </div>
                        <div class="form-row p-2 text-center">
                            <h5>Your Saved Locations</h5>
                            <div id="user_location_table">
                                <table class="table table-striped">
                                {% for item in locations %}
                                <tr>
                                    <td>{{item.street}}</td>
                                    <td>{{item.city}}</td>
                                    <td>{{item.province}}</td>
                                    <td>{{item.country}}</td>
                                    <td>{{item.zipcode}}</td>
                                    <td>
                                        <a href="#"
                                           onclick="delete_user_location({{item.pk}})">
                                            <i class="bi bi-trash" style="color:red"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </table>
                            </div>
                        </div>

                    </div>
                </div>
            </fieldset>

            <fieldset id="tab-3" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Program Types</h3>
                    <div class="p-2 d-flex justify-content-start">
                        <input type="button" name="previous"
                                       class="previous action-button-previous btn btn-primary"
                                       value="Previous" id="previous-tab-3"/>
                    </div>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <span>* Your focus?</span>
                           <input type="checkbox" id="Male" name="gender" value="Male"
                            {% if "Male" in organization.gender_focus  %} checked {% endif %}> Male Only </input>
                            <input type="checkbox" id="Female" name="gender" value="Female"
                            {% if "Female" in organization.gender_focus %} checked {% endif %}> Female Only </input>
                            <input type="checkbox" id="Coed" name="gender" value="Coed"
                            {% if "Coed" in organization.gender_focus %} checked {% endif %}> Coed </input>
                        </div>
                        <div class="form-row p-2">
                            <label>* Pick a Age Group?</label>
                            <input type="checkbox" id="Youth" name='age_group' value="Youth"
                                   {% if "Youth" in organization.age_group %} checked {% endif %}> Youth </input>
                            <input type="checkbox" id="Adult" name='age_group' value="Adult"
                                   {% if "Adult" in organization.age_group %} checked {% endif %}> Adult </input>
                            <input type="checkbox" id="Senior" name='age_group' value="Senior"
                                   {% if "Senior" in organization.age_group %} checked {% endif %}> Senior </input>
                        </div>
                        <div class="form-row p-2">
                            <label>How many participants your Organization has? </label>
                            <input type="radio" name='participants' value="0-100"
                            {% if "0-100" in organization.participants %} checked {% endif %}> 0-100 </input>
                            <input type="radio" name='participants' value="100-250"
                            {% if "100-250" in organization.participants %} checked {% endif %}> 100-250 </input>
                            <input type="radio" name='participants' value="250-500"
                            {% if "250-500" in organization.participants %} checked {% endif %}> 250-500 </input>
                            <input type="radio" name='participants' value="500+"
                            {% if "500+" in organization.participants %} checked {% endif %}> 500+ </input>
                        </div>
                        <div class="form-row p-2">
                            <label>* List of sports that you facilitate are: </label>
                            <select class="form-select select2" multiple name="sport_type"
                                    id="sport_type" style="width:100%">
                                {% for st in sports_type %}
                                    <option value="{{st}}">{{st}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group row p-2">
                            <label>Your Hours of Operation: </label>
                            <div class="col-md-4">
                               <label>Sunday</label>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="sunday_start_time" name="sunday_start_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="sunday_end_time" name="sunday_end_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                        </div>
                        <div class="form-group row p-2">
                            <div class="col-md-4">
                               <label>Monday</label>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="monday_start_time" name="monday_start_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="monday_end_time" name="monday_end_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                        </div>
                        <div class="form-group row p-2">
                            <div class="col-md-4">
                               <label>Tuesday</label>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="tuesday_start_time" name="tuesday_start_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="tuesday_end_time" name="tuesday_end_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                        </div>
                        <div class="form-group row p-2">
                            <div class="col-md-4">
                               <label>Wednesday</label>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="wednesday_start_time" name="wednesday_start_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="wednesday_end_time" name="wednesday_end_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                        </div>
                        <div class="form-group row p-2">
                            <div class="col-md-4">
                               <label>Thursday</label>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="thursday_start_time" name="thursday_start_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="thursday_end_time" name="thursday_end_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                        </div>
                        <div class="form-group row p-2">
                            <div class="col-md-4">
                               <label>Friday</label>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="friday_start_time" name="friday_start_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="friday_end_time" name="friday_end_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                        </div>
                        <div class="form-group row p-2">
                            <div class="col-md-4">
                               <label>Saturday</label>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="saturday_start_time" name="saturday_start_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                            <div class="col-md-4">
                                <input type="time" class="form-control" id="saturday_end_time" name="saturday_end_time"
                                       placeholder="HH:MM 12 hr format"/>
                            </div>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="submit" name="submit" class="submit action-button btn btn-primary"
                                   value="Submit"/>
                        </div>
                    </div>
                </div>
            </fieldset>

        </form>
        <div class="p-2 text-center">
            <input type="button" class="btn btn-danger" id="btn_delete_account"
                   value="Delete Account" data-bs-toggle="modal" data-bs-target="#delete_modal"/>
        </div>
        <div class="modal fade" id="delete_modal" data-bs-backdrop="static" data-keyboard="false" tabindex="-1"
             aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Delete Account</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete your account. Deleting your account will permanently delete your
                        profile. You will be logged out and redirected to the home page. To Log-In again you will need
                        to create a new account.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a type="button" class="btn btn-primary" href="{% url 'EventsApp:delete_profile' %}">
                            Confirm Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
<style>
   #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #ff6f3d;
}

#progressbar li {
    display:inline-block;
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar #step4:before {
    content: "4"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #ff6f3d
}




</style>

<script type="text/javascript">

$(document).ready(function(){
  var tab2 = $("#tab-2");
  var tab3 = $("#tab-3");
  // var tab4 = $("#tab-4");
  tab2.hide();
  tab3.hide();
  // tab4.hide();

  $("#next-tab-1").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    // var tab4 = $("#tab-4");
    tab1.hide();
    tab2.show();
    tab3.hide();
    // tab4.hide();
    $("#step2").addClass("active");
  });

  $("#next-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    // var tab4 = $("#tab-4");
    tab1.hide();
    tab2.hide();
    tab3.show();
    // tab4.hide();
    $("#step3").addClass("active");
  });

  $("#next-tab-3").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    // var tab4 = $("#tab-4");
    tab1.hide();
    tab2.hide();
    tab3.hide();
    // tab4.show();
    $("#step4").addClass("active");
  });

  $("#previous-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    // var tab4 = $("#tab-4");
    tab1.show();
    tab2.hide();
    tab3.hide();
    // tab4.hide();
    $("#step2").removeClass("active");
  });

  $("#previous-tab-3").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    // var tab4 = $("#tab-4");
    tab1.hide();
    tab2.show();
    tab3.hide();
    // tab4.hide();
    $("#step3").removeClass("active");
  });

  $("#previous-tab-4").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    var tab4 = $("#tab-4");
    tab1.hide();
    tab2.hide();
    tab3.show();
    tab4.hide();
    $("#step4").removeClass("active");
  });

 $('.select2').select2({
    placeholder: "Select Sport",
    allowClear: true,
    closeOnSelect: false,
  });

    populate_sport_choices();
    get_organization_timings();

  $(window).keydown(function(event){
    if(event.keyCode == 13) {
      event.preventDefault();
      return false;
    }
  });

});

  function populate_sport_choices(){
    $.ajax({
        type: "GET",
        url: '{% url "EventsApp:fetch_user_sports_positions" %}',
        success: function (data) {
            var sports_list = [];
            data.forEach(function (data) {
                console.log(data.sport_type);
                sports_list.push(data.sport_type);
            });
            $('#sport_type').val(sports_list).trigger('change');
        }
    });
  };

  function get_organization_timings(){
    $.ajax({
        type: "GET",
        url: '{% url "EventsApp:get_organization_timings" %}',
        success: function (data) {
            console.log(data);
            data.forEach(function (data) {
                if(data.day_of_week === "Sunday"){
                    $("#sunday_start_time").val(data.start_time);
                    $("#sunday_end_time").val(data.end_time);
                }
                if(data.day_of_week === "Monday"){
                    $("#monday_start_time").val(data.start_time);
                    $("#monday_end_time").val(data.end_time);
                }
                if(data.day_of_week === "Tuesday"){
                    $("#tuesday_start_time").val(data.start_time);
                    $("#tuesday_end_time").val(data.end_time);
                }
                if(data.day_of_week === "Wednesday"){
                    $("#wednesday_start_time").val(data.start_time);
                    $("#wednesday_end_time").val(data.end_time);
                }
                if(data.day_of_week === "Thursday"){
                    $("#thursday_start_time").val(data.start_time);
                    $("#thursday_end_time").val(data.end_time);
                }
                if(data.day_of_week === "Friday"){
                    $("#friday_start_time").val(data.start_time);
                    $("#friday_end_time").val(data.end_time);
                }
                if(data.day_of_week === "Saturday"){
                    $("#saturday_start_time").val(data.start_time);
                    $("#saturday_end_time").val(data.end_time);
                }
            });
        }
    });
  };

for(y = 1900; y <= 2022; y++) {
    var selected_year = "{{organization.year_established}}";
    var optn = document.createElement("OPTION");
    optn.text = y;
    optn.value = y;
    if (y == selected_year) {
        optn.selected = true;
    }
    document.getElementById('year').options.add(optn);
}


$(function() {
  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    startDate: moment().startOf('hour'),
    endDate: moment().startOf('hour').add(32, 'hour'),
    locale: {
      format: 'MM/DD/YYYY hh:mm A'
    }
  });
});


// Make Placeholders title when user types something
function addInputLabel(evt) {
    if (document.getElementsByName(evt.currentTarget.name)[0] && document.getElementsByName(evt.currentTarget.name)[0].type !== 'button'){
        var myLabel = document.createElement('div');
        myLabel.textContent = evt.currentTarget.placeholder;
        myLabel.classList.add('my-label');
        var parentDiv = document.getElementsByName(evt.currentTarget.name)[0].parentElement;
        if(parentDiv.getElementsByClassName('my-label').length < 1) {
            parentDiv.insertBefore(myLabel, evt.currentTarget);
        }
        else{
            if(evt.currentTarget.value.length == 0){
                parentDiv.removeChild(parentDiv.getElementsByClassName('my-label')[0]);
            }
        }
    }
}

var inputs = document.getElementsByTagName('input');
for (let i of inputs){
    i.addEventListener('keyup', addInputLabel, false);
}




$("#add_locations").click(function (e) {
        e.preventDefault();
        var selected_street_text = document.getElementById("street_name").value;
        var selected_city_text = document.getElementById("city").value;
        var selected_province_text = document.getElementById("province").value;
        var selected_country_text = document.getElementById("country").value;
        var selected_zipcode_text = document.getElementById("postal_code").value;

        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:add_organization_locations" %}',
            data: {
                'selected_street_text': selected_street_text,
                'selected_city_text': selected_city_text,
                'selected_province_text': selected_province_text,
                'selected_country_text': selected_country_text,
                'selected_zipcode_text': selected_zipcode_text,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
                html_data += `${data["status"]}`;
                html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
                html_data += `</div>`;
                let status = document.getElementById("location_status");
                status.innerHTML = html_data;
                fetchUserLocations();
            }
        });
    });

function fetchUserLocations(){
    $.ajax({
        type: "GET",
        async:false,
        url: '{% url "EventsApp:fetch_organization_locations" %}',
        success: function (data) {
            let html_data = `<table class="table table-striped">`;
            data.forEach(function (data) {
                html_data += `<tr>`;
                html_data += `<td>${data.street}</td>`;
                html_data += `<td>${data.city}</td>`;
                html_data += `<td>${data.province}</td>`;
                html_data += `<td>${data.country}</td>`;
                html_data += `<td>${data.zipcode}</td>`;
                html_data += `<td>`;
                html_data += `<a href="#" onclick="delete_user_location(${data.pk})">`;
                html_data += `<i class="bi bi-trash" style="color:red"></i>`;
                html_data += `</a>`;
                html_data += `</td>`;
                html_data += `</tr>`;
            });
            html_data += `</table>`;
            let tableData = document.getElementById("user_location_table");
            tableData.innerHTML = html_data;
        }
    });
}

function delete_user_location(user_location_id){
    $.ajax({
        type: "POST",
        url: '{% url "EventsApp:delete_user_location" %}',
        data: {
            'id': user_location_id,
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
        },
        success: function (data) {
            let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
            html_data += `${data["status"]}`;
            html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            html_data += `</div>`;
            let status = document.getElementById("location_status");
            status.innerHTML = html_data;
            fetchUserLocations();
        }
    });
}


(function($) {

  $.fn.areYouSure = function(options) {

    var settings = $.extend(
      {
        'message' : 'You have unsaved changes!',
        'dirtyClass' : 'dirty',
        'change' : null,
        'silent' : false,
        'addRemoveFieldsMarksDirty' : false,
        'fieldEvents' : 'change keyup propertychange input',
        'fieldSelector': ":input:not(input[type=submit]):not(input[type=button])"
      }, options);

    var getValue = function($field) {
      if ($field.hasClass('ays-ignore')
          || $field.hasClass('aysIgnore')
          || $field.attr('data-ays-ignore')
          || $field.attr('name') === undefined) {
        return null;
      }

      if ($field.is(':disabled')) {
        return 'ays-disabled';
      }

      var val;
      var type = $field.attr('type');
      if ($field.is('select')) {
        type = 'select';
      }

      switch (type) {
        case 'checkbox':
        case 'radio':
          val = $field.is(':checked');
          break;
        case 'select':
          val = '';
          $field.find('option').each(function(o) {
            var $option = $(this);
            if ($option.is(':selected')) {
              val += $option.val();
            }
          });
          break;
        default:
          val = $field.val();
      }

      return val;
    };

    var storeOrigValue = function($field) {
      $field.data('ays-orig', getValue($field));
    };

    var checkForm = function(evt) {

      var isFieldDirty = function($field) {
        var origValue = $field.data('ays-orig');
        if (undefined === origValue) {
          return false;
        }
        return (getValue($field) != origValue);
      };

      var $form = ($(this).is('form'))
                    ? $(this)
                    : $(this).parents('form');

      // Test on the target first as it's the most likely to be dirty
      if (isFieldDirty($(evt.target))) {
        setDirtyStatus($form, true);
        return;
      }

      $fields = $form.find(settings.fieldSelector);

      if (settings.addRemoveFieldsMarksDirty) {
        // Check if field count has changed
        var origCount = $form.data("ays-orig-field-count");
        if (origCount != $fields.length) {
          setDirtyStatus($form, true);
          return;
        }
      }

      // Brute force - check each field
      var isDirty = false;
      $fields.each(function() {
        var $field = $(this);
        if (isFieldDirty($field)) {
          isDirty = true;
          return false; // break
        }
      });

      setDirtyStatus($form, isDirty);
    };

    var initForm = function($form) {
      var fields = $form.find(settings.fieldSelector);
      $(fields).each(function() { storeOrigValue($(this)); });
      $(fields).unbind(settings.fieldEvents, checkForm);
      $(fields).bind(settings.fieldEvents, checkForm);
      $form.data("ays-orig-field-count", $(fields).length);
      setDirtyStatus($form, false);
    };

    var setDirtyStatus = function($form, isDirty) {
      var changed = isDirty != $form.hasClass(settings.dirtyClass);
      $form.toggleClass(settings.dirtyClass, isDirty);

      // Fire change event if required
      if (changed) {
        if (settings.change) settings.change.call($form, $form);

        if (isDirty) $form.trigger('dirty.areYouSure', [$form]);
        if (!isDirty) $form.trigger('clean.areYouSure', [$form]);
        $form.trigger('change.areYouSure', [$form]);
      }
    };

    var rescan = function() {
      var $form = $(this);
      var fields = $form.find(settings.fieldSelector);
      $(fields).each(function() {
        var $field = $(this);
        if (!$field.data('ays-orig')) {
          storeOrigValue($field);
          $field.bind(settings.fieldEvents, checkForm);
        }
      });
      // Check for changes while we're here
      $form.trigger('checkform.areYouSure');
    };

    var reinitialize = function() {
      initForm($(this));
    }

    if (!settings.silent && !window.aysUnloadSet) {
      window.aysUnloadSet = true;
      $(window).bind('beforeunload', function() {
        $dirtyForms = $("form").filter('.' + settings.dirtyClass);
        if ($dirtyForms.length == 0) {
          return;
        }
        // Prevent multiple prompts - seen on Chrome and IE
        if (navigator.userAgent.toLowerCase().match(/msie|chrome/)) {
          if (window.aysHasPrompted) {
            return;
          }
          window.aysHasPrompted = true;
          window.setTimeout(function() {window.aysHasPrompted = false;}, 900);
        }
        return settings.message;
      });
    }

    return this.each(function(elem) {
      if (!$(this).is('form')) {
        return;
      }
      var $form = $(this);

      $form.submit(function() {
        $form.removeClass(settings.dirtyClass);
      });
      $form.bind('reset', function() { setDirtyStatus($form, false); });
      // Add a custom events
      $form.bind('rescan.areYouSure', rescan);
      $form.bind('reinitialize.areYouSure', reinitialize);
      $form.bind('checkform.areYouSure', checkForm);
      initForm($form);
    });
  };
})(jQuery);


    // Logic to show alert when user leaving page without saving
    $(function () {
        $('form').areYouSure();
        //var formSubmitting = false;
        //$("#msform").on('submit', function () {
        //    formSubmitting = true;
        //});
        //window.onload = function () {
        //    window.addEventListener("beforeunload", function (e) {
        //        if (formSubmitting) {
        //            return undefined;
        //        }
        //
        //        var confirmationMessage = 'It appears you have unsaved changes, if you leave now, your changes will be lost.';
        //
        //        (e || window.event).returnValue = confirmationMessage; //Gecko + IE
        //        return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
        //    });
        //};
    });
let selector = document.getElementById("phone");

let im = new Inputmask("999-999-9999");
im.mask(selector);
</script>


{% endblock %}