{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-5 mx-auto">
        <div class="card shadow">
            <h3 class="card-header text-center text-white"
                style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">Reset
                Password</h3>
            <div class="card-body px-lg-5 py-lg-5">
                <p>Please enter email for validation url</p>
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <!--                        {{ password_reset_form }}-->
                        {% render_field password_reset_form.email class="form-control" placeholder="Email" %}
                    </div>
                    <div class="text-center mb-3">
                        <button class="btn btn-primary" type="submit">Send email</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

