{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-5 mx-auto">
        <div class="card shadow">
            <h3 class="card-header text-center text-white"
                style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">Reset Password</h3>
            <div class="card-body">
                <p>Please enter email for validation url</p>
                <form method="POST" >
                    {% csrf_token %}
                    <div class="form-control form-control-sm">
                        {{ password_reset_form }}
                        <button class="btn btn-primary" type="submit">Send email</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

