{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col-xxl-5 col-xl-6 col-lg-8 col-md-9 col-sm-12 mx-auto justify-content-center">
        <div class="card shadow col-12">
            <h3 class="card-header text-center text-white"
                style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">First time in
                Insportify....</h3>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4 text-center">
                        <img src="{% static 'img/individual.png' %}" alt="Logo" style="width: 200px;"/>
                        <a type="button" class="btn my-3 shadow rounded text-white" style="background: #ff6f3d;"
                           href="{% url 'UserRegister:individual_register' %}">I am an
                            Individual</a>
                    </div>
                     <div class="col-lg-4 text-center">
                        <img src="{% static 'img/mvp.png' %}" alt="Logo" style="width: 200px;"/>
                        <a type="button" class="btn my-3 shadow rounded text-white" style="background: #ff6f3d;"
                           href="{% url 'UserRegister:mvp_register' %}">I am a
                            MVP</a>
                    </div>
                    <div class="col-lg-4 text-center">
                        <img src="{% static 'img/organization.png' %}" alt="Logo" style="width: 200px;"/>
                        <a type="button" class="btn my-3 shadow rounded text-white" style="background: #ff6f3d;"
                           href="{% url 'UserRegister:organization_register' %}">I am an
                            Organization</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}