{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col-5 mx-auto">
        <div class="card shadow">
            <h3 class="card-header text-center text-white"
                style="background: linear-gradient(to bottom left, #1bc2bf, #0ddff6, #26bbcc);">First time in
                Insportify....</h3>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6 text-center">
                        <img src="{% static 'img/individual.png' %}" alt="Logo" style="width: 200px;"/>
                        <a type="button" class="btn my-3 shadow rounded text-white" style="background: #ff6f3d;"
                           href="{% url 'individual_register' %}">I am an
                            Individual</a>
                    </div>
                    <div class="col-lg-6 text-center">
                        <img src="{% static 'img/organization.png' %}" alt="Logo" style="width: 200px;"/>
                        <a type="button" class="btn my-3 shadow rounded text-white" style="background: #ff6f3d;"
                           href="{% url 'organization_register' %}">I am an
                            Organization</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}