{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="container">
    <div class="row pt-2">
        <div class="col">
            <h3>Summary</h3>
            <div id="item_status">

            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <th>Event</th>
            <th>Position Type</th>
            <th>No. of Positions</th>
            <th>Position Cost</th>
            <th>Remove</th>
            </thead>
            <tbody>
            {% for item in cart %}
            <tr>
                <td>{{item.event.event_title}}</td>
                <td>{{item.position_type}}</td>
                <td>{{item.no_of_position }}</td>
                <td>{{item.position_cost}}</td>
                <td>
                    <a href="" onclick="delete_cart_item({{item.position_id.pk}}); return confirm('Remove Item?');">
                        <i class="bi bi-trash" style="color:red"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total: ${{total}}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="mx-auto text-center">
            <a class="btn btn-primary" id="checkout-button">Checkout</a>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">

    var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {

        fetch("{% url 'EventsApp:create-checkout-session' id=request.user.pk %}", {
            method: 'POST',
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.sessionId });
            })
            .then(function (result) {
                if (result.error) {
                    console.log('Error:', error);
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.log('Error:', error);
            });
    });


function delete_cart_item(item_id){
    $.ajax({
        type: "POST",
        url: '{% url "EventsApp:delete_cart_item" %}',
        data: {
            'id': item_id,
        },
        success: function (data) {
            let html_data = `<div class="alert alert-warning alert-dismissible fade show" role="alert">`;
            html_data += `${data["status"]}`;
            html_data += `<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            html_data += `</div>`;
            let status = document.getElementById("item_status");
            status.innerHTML = html_data;
        }
    });
}


</script>

{% endblock %}

