{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}

<script src="https://js.stripe.com/v3/"></script>
<div class="row">
    <div class="col">
        <form>
            {% csrf_token %}
            <button type="submit" id="checkout-button">Checkout</button>
        </form>
    </div>
</div>

<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    var stripe = Stripe("{{ STRIPE_PUBLISHABLE_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {
      fetch("{% url 'EventsApp:create-checkout-session' event.pk %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': csrftoken
        }
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {

          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.log("Error:", error);
        });
    });
</script>


{% endblock %}

