{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        {% if payment_status == "success" %}
        <div class="jumbotron text-justify mt-5">
            <h1 class="text-success">Payment Successful</h1>
            <hr class="my-4">
            <p class="lead">Please check your email for the booking confirmation. You can now close this window or use
                the link below to explore more amazing events around you.
                <a href="{% url 'EventsApp:home' %}">Home</a>
            </p>
        </div>
        {% elif payment_status == "failed" %}
        <div class="jumbotron text-justify mt-5">
            <h1 class="text-danger">Payment Failed</h1>
            <hr class="my-4">
            <p class="lead">We didn't receive your order. You can now close this window or use the
                link below to try again.
                <a href="{% url 'EventsApp:home' %}">Home</a>
            </p>
        </div>
        {% elif payment_status == "VenuePay" %}
        <div class="jumbotron text-justify mt-5">
            <h1 class="text-success">Order Pickup Confirmed</h1>
            <hr class="my-4">
            <p class="lead">Your Ticket Pick up Order has been booked. Payment would be made at the Venue.
                Please follow the instructions sent to you in your registered email Id.
                You can now close this window or use the link below to try again.
                <a href="{% url 'EventsApp:home' %}">Home</a>
            </p>
        </div>
        {% endif %}
    </div>
</div>

<style>
.jumbotron {
    margin: 30px;
    max-height: 300px;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    padding: 2rem 1rem;
}
</style>

{% endblock %}