{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col">
        <div class="card shadow mx-auto" style="width: 600px">
            <h5 class="card-header text-center text-white"
                style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                {{event.event_title}}
            </h5>
            <div class="card-body">
                <p class="card-text"><i class="bi bi-calendar-check-fill" style="padding-right: 20px;"></i>
                    {{event.datetimes}}
                </p>
                <p class="card-text">{{event.description}}</p>
                <p class="card-text">Age Restriction {{event.max_age}} - {{event.min_age}}</p>
                <p class="card-text"><i class="bi bi-cash-stack" style="padding-right: 20px;"></i>
                    {{event.position_cost}}$</p>
                <p class="card-text"><i class="bi bi-geo-alt-fill" style="padding-right: 20px;"></i>
                    {{event.venue}}, {{event.city}}, {{event.country}}
                </p>

                <div class="card-body mx-auto text-center">
                    <a class="btn btn-primary" id="checkout-button">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">

    var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {

        fetch("{% url 'EventsApp:create-checkout-session' id=event.pk %}", {
            method: 'POST',
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.sessionId });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>

{% endblock %}