{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}


<form class="row p-3" action="{% url 'EventsApp:home' %}" method="get">
    <div class="col">
        <select id="events_types" class="form-select" size="2" multiple name="events_types">
            <option value="" selected="selected">Select Event Type</option>
            <option value="Camp">Camp</option>
            <option value="Charity">Charity</option>
            <option value="Conditioning">Conditioning</option>
            <option value="Development">Development</option>
            <option value="Game/Session">Game/Session</option>
            <option value="Online">Online</option>
            <option value="Registration">Registration</option>
            <option value="Social">Social</option>
            <option value="Tournament">Tournament</option>
        </select>
    </div>
    <div class="col">
        <select class="form-select" name="sports">
            <option value="" selected="selected">Select Sport</option>
            {% for sports in sports_list %}
            <option value="{{sports.sports_catgeory_text}}">{{sports.sports_catgeory_text}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <input class="form-control" type="date" value="Select Date" name="date_range"/>
    </div>
    <div class="col">
        <select class="form-select" name="venues">
            <option value="" selected="selected">Select Venue</option>
            {% for venues in venues_list %}
            <option value="{{venues.vm_name}}">{{venues.vm_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col text-center">
        <button type="submit" class="btn btn-primary mr-2">
            Search
        </button>
        <a href="{% url 'EventsApp:home' %}" class="btn btn-primary ml-2">
            Clear
        </a>
    </div>
</form>

<div class="row p-3">
    <h5>All Events</h5>
    <hr class="my-2">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            {% for sublist in events %}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <div class="cards-wrapper">
                    {% for event in sublist %}
                    <div class="card {% if forloop.counter0 != 0 %}d-none d-md-block{% endif %} col-4">
                        <img src="{% static 'images/football.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{event.event_title}}</h5>
                            <p class="card-text">{{event.venue}}, {{event.city}}, {{event.province}}
                            <p class="text-secondary"><i class="bi bi-calendar"></i> {{event.datetimes}}
                            </p>
                            <!--                            <a href="/{{event.pk}}/" class="btn btn-primary">Details >></a>-->
                            <a href="event_details/{{event.pk}}/" class="btn btn-primary">Details >></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{% if user.is_authenticated %}

<div class="row p-3">
    <h5>Recommended Events For You</h5>
    <hr class="my-2">
    <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel" data-interval="false">
        <div class="carousel-inner" role="listbox">
            {% for sublist in recommended_events %}
            <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}">
                <div class="cards-wrapper">
                    {% for event in sublist %}
                    <div class="card {% if forloop.counter0 != 0 %}d-none d-md-block{% endif %} col-4">
                        <img src="{% static 'images/football.jpg' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{event.event_title}}</h5>
                            <p class="card-text">{{event.venue}}, {{event.city}}, {{event.province}}
                            <p class="text-secondary"><i class="bi bi-calendar"></i> {{event.datetimes}}
                            </p>
                            <a href="/{{event.pk}}/" class="btn btn-primary">Details >></a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls2"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls2"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{% endif %}

<style>


.cards-wrapper {
  display: flex;
  justify-content: center;
}
.card img {
  max-width: 100%;
  max-height: 100%;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .card img {
    height: 11em;
  }
}

.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.05);
    transition: all .4s ease;
-webkit-transition: all .4s ease;
}














</style>

{% endblock %}