{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}

<script>

    function toggle() {
        var selected_sports = document.getElementById('selected_sports');
        var default_sports = document.getElementById('default_sports');

        if (selected_sports.style.display == 'none') {
          selected_sports.style.display = 'block';
          default_sports.style.display = 'none';
        }
        else {
        selected_sports.style.display = 'none';
        default_sports.style.display = 'block';
        }
    }



</script>

<div class="row p-3">
    <div class="col">
        <select class="form-select" name="events-types">
            <option value="" selected="selected">Select Event Type</option>
            {% for results in event_types %}
            <option value="{{results.etm_id}}">{{results.etm_category}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <select class="form-select" name="sports">
            <option value="" selected="selected">Select Sport</option>
            {% for sports in sports_list %}
            <option value="{{sports.sm_id}}">{{sports.sm_sports_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        <input class="form-control" type="date" id="daterange" value="Select Date"/>
    </div>

    <div class="col">
        <select class="form-select" name="venues">
            <option value="" selected="selected">Select Venue</option>
            {% for venues in venues_list %}
            <option value="{{venues.vm_id}}">{{venues.vm_name}}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="row p-3">

    <div class="col">

        <div class="col-4" style="float:left">
            <div class="card shadow mb-2">
                <img class="card-img-top"
                     src="{% static 'images/basketball.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Basketball</h4>
                    <p class="card-text">The 2022 NBA All-Star Game will tip off shortly after 8 p.m. The game will be
                        played at Cleveland's Rocket Mortgage FieldHouse.</p>
                    <a class="btn btn-primary" style="background: #ff6f3d;border: none;">Details</a>
                </div>
            </div>
        </div>

        <div class="col-4" style="float:left">
            <div class="card shadow mb-2">
                <img class="card-img-top"
                     src="{% static 'images/hockey.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Hockey Tournament</h4>
                    <p class="card-text">Hockey is a sport in which two teams play against each
                        other by trying to manoeuvre a ball or a puck into the opponent's goal using
                        a hockey stick.</p>
                    <a class="btn btn-primary" style="background: #ff6f3d;border: none;">Details</a>
                </div>
            </div>
        </div>

        <div class="col-4" style="float:left">
            <div class="card shadow mb-2">
                <img class="card-img-top"
                     src="{% static 'images/football.jpg' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Football Tournament</h4>
                    <p class="card-text">Football, is a game involving two teams of 11 players
                        who try to maneuver the ball into the other team's goal.</p>
                    <a class="btn btn-primary" style="background: #ff6f3d; border: none;">Details</a>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}