{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="container">
    {% if event.event_title %}
    <h5>
        Invite Users to {{event.event_title}}
    </h5>
    {% else %}
    <h5>
        Invite Friends to Insportify
    </h5>
    {% endif %}
    <hr>
    <form method="post" class="row">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}

        {% if pos_info_msg %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                {{ pos_info_msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}

        <div class="form-group col-md-4">
            <label>{{ form.email.label }}</label>
            {% render_field form.email|add_required_class:"is-required" class="form-control" %}
        </div>
        <div class="form-group">
            <button class="btn my-3 shadow rounded text-white" style="background: #ff6f3d;" type="submit">
                Send Invite
            </button>
        </div>
    </form>
    <h5>
        Sent Invites
    </h5>
    <table class="table table-striped">
        <thead>
        <th>Email</th>
        </thead>
        <tbody>
        {% for invite in invites %}
        <tr>
            <td>{{invite.email}}</td>
            <td>
                <a class="btn btn-warning btn-sm" href="{% url 'EventsApp:invite_by_id' invite.event.id invite.email %}">Resend</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">
                No invites sent
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if event %}
    <a class="btn shadow rounded text-white" style="background: #097969; margin-left:40%" href="{% url 'EventsApp:list-events' %}">
        ✓ Finish Event Creation
    </a>
    {% endif %}
</div>

<script>
// Make Placeholders title when user types something
function addInputLabel(evt) {
    var myLabel = document.createElement('div');
    myLabel.textContent = evt.currentTarget.placeholder;
    myLabel.classList.add('my-label');
    var parentDiv = document.getElementsByName(evt.currentTarget.name)[0].parentElement;
    if(parentDiv.getElementsByClassName('my-label').length < 1) {
        parentDiv.insertBefore(myLabel, evt.currentTarget);
    }
    else{
        if(evt.currentTarget.value.length == 0){
            parentDiv.removeChild(parentDiv.getElementsByClassName('my-label')[0]);
        }
    }
}

var inputs = document.getElementsByTagName('input');
for (let i of inputs){
    i.addEventListener('keyup', addInputLabel, false);
}
</script>
{% endblock %}

