{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-6 mx-auto">
        <form id="msform" action="{% url 'EventsApp:multistep'%}" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}


            <ul id="progressbar" class="mx-auto text-center" style="padding-left: 0px;">
                <li class="active" id="step1">Event Information</li>
                <li id="step2">Sports</li>
                <li id="step3">Venue</li>
            </ul>

            <fieldset id="tab-1" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Event
                        Information</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="event_title" placeholder="Event Title"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="description" placeholder="Description"/>
                        </div>
                        <div class="form-row p-2" id="event_type">
                            <select class="form-select" name="event_type">
                                <option value="" selected="selected">Select Event Type</option>
                                <option value="Camp">Camp</option>
                                <option value="Charity">Charity</option>
                                <option value="Conditioning">Conditioning</option>
                                <option value="Development">Development</option>
                                <option value="Game/Session">Game/Session</option>
                                <option value="Online">Online</option>
                                <option value="Registration">Registration</option>
                                <option value="Social">Social</option>
                                <option value="Tournament">Tournament</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <label>Is this a recurring event? &nbsp &nbsp</label>
                            <input type="radio" value="Yes" id="chkYes" name="recurring_event">Yes</input>
                            <input type="radio" value="No" id="chkNo" name="recurring_event"> No </input>
                        </div>
                        <div class="form-row p-2" id="fields_recurring" style="display:None">
                            <label>Which days does the event occur &nbsp &nbsp</label>
                            <select class="select2 form-control" style="width: 100%" id="recurring_selection"
                                    name="recurring_days" multiple="multiple">
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                                <option>Sunday</option>
                            </select>
                        </div>
                        <div class="form-row p-2" id="Monday_dates" style="display:None">
                            <label>Monday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-row p-2">
                                <input type="text" class="form-control datetime" name="datetimes_monday"
                                       placeholder="Date & Time"/>
                            </div>
                        </div>
                        <div class="form-row p-2" id="Tuesday_dates" style="display:None">
                            <label>Tuesday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-row p-2">
                                <input type="text" class="form-control datetime" name="datetimes_tuesday"
                                       placeholder="Date & Time"/>
                            </div>
                        </div>
                        <div class="form-row p-2" id="Wednesday_dates" style="display:None">
                            <label>Wednesday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-row p-2">
                                <input type="text" class="form-control datetime" name="datetimes_wednesday"
                                       placeholder="Date & Time"/>
                            </div>
                        </div>
                        <div class="form-row p-2" id="Thursday_dates" style="display:None">
                            <label>Thursday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-row p-2">
                                <input type="text" class="form-control datetime" name="datetimes_thursday"
                                       placeholder="Date & Time"/>
                            </div>
                        </div>
                        <div class="form-row p-2" id="Friday_dates" style="display:None">
                            <label>Friday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-row p-2">
                                <input type="text" class="form-control datetime" name="datetimes_friday"
                                       placeholder="Date & Time"/>
                            </div>
                        </div>
                        <div class="form-row p-2" id="Saturday_dates" style="display:None">
                            <label>Saturday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-row p-2">
                                <input type="text" class="form-control datetime" name="datetimes_saturday"
                                       placeholder="Date & Time"/>
                            </div>
                        </div>
                        <div class="form-row p-2" id="Sunday_dates" style="display:None">
                            <label>Sunday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-row p-2">
                                <input type="text" class="form-control datetime" name="datetimes_sunday"
                                       placeholder="Date & Time"/>
                            </div>
                        </div>
                        <div class="form-row p-2" id="Exception_dates" style="display:None">
                            <label>Enter Exceptions &nbsp &nbsp</label>
                            <div class="form-row p-2">
                                <input type="text" class="form-control date" name="datetimes_exceptions"/>
                            </div>
                        </div>
                        <div class="form-row p-2" id="single_dates" style="display:None">
                            <label>Select Event Date &nbsp &nbsp</label>
                            <div class="form-row p-2">
                                <input type="text" class="form-control datetime" name="datetimes"
                                       placeholder="Date & Time"/>
                            </div>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                   value="Next"
                                   id="next-tab-1"/>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset id="tab-2" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Sports Information</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <select name='sport_type' id="sport_type" class="form-select"
                                    aria-label=".form-select-lg example">
                                <option selected disabled>Choose Sport</option>
                                {% for type in sports_type %}
                                <option value="{{type.pk}}">{{type.sports_type_text}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <select name='skill' class="form-select" id="skill" aria-label=".form-select-lg example"
                                    multiple="multiple" data-toggle="tooltip" title="Select multiple skills">
                                <option selected disabled>Choose Skill</option>

                            </select>
                        </div>
                        <div class="form-row p-2 text-center">
                            <div id="input_fields_wrap">
                                <button class="btn btn-primary"
                                        id="add_field_button">Add Position
                                </button>
                            </div>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   value="Previous" id="previous-tab-2"/>
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                   value="Next" id="next-tab-2"/>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset id="tab-3" class="p-2">
                <div class="card shadow">
                    <h2 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Venue</h2>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <!--                            <input type="text" class="form-control" name="venue" placeholder="Venue"/>-->
                            <select name='venue' id="venue" class="form-select"
                                    aria-label=".form-select-lg example">
                                <option selected disabled>Choose Venue</option>
                                {% for venue in venues %}
                                <option value="{{venue}}">{{venue.vm_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" id="street" name="street"
                                   placeholder="Street" disabled/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" id="city" name="city"
                                   placeholder="City" disabled/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" id="province" name="province"
                                   placeholder="Province" disabled/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" id="country" name="country"
                                   placeholder="Country" disabled/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" id="zip_code" name="zip_code"
                                   placeholder="Area Code" disabled/>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   value="Previous" id="previous-tab-3"/>

                            <input type="submit" name="submit" class="submit action-button btn btn-primary"
                                   value="Submit"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"
      rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<style>

   #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #ff6f3d;
}

#progressbar li {
    display:inline-block;
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #ff6f3d
}









</style>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

$("#venue").change(function () {
        var selected_venue_value = $("#venue option:selected");
        var selected_venue_text = selected_venue_value.text();
        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:get_venue" %}',
            data: {
                'selected_venue': selected_venue_text,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = data[0];
                console.log(html_data["vm_venue_street"]);
                $("#street").val(html_data["vm_venue_street"]);
                $("#city").val(html_data["vm_venuecity"]);
                $("#province").val(html_data["vm_venue_province"]);
                $("#country").val(html_data["vm_venue_country"]);
                $("#zip_code").val(html_data["vm_venue_zip"]);
            }
        });
    });

$("#sport_type").change(function () {
        var selected_type_value = $("#sport_type option:selected");
        var selected_type_text = selected_type_value.text();
        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:get_selected_sports_skill" %}',
            data: {
                'selected_type_text': selected_type_text,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = '';
                data.forEach(function (data) {
                    html_data += `<option value="${data.skill_type}">${data.skill_type}</option>`
                });
                $("#skill").html(html_data);
            }
        });
    });

$(document).ready(function(){
  $('.select2').select2();
  var tab2 = $("#tab-2");
  var tab3 = $("#tab-3");
  tab2.hide();
  tab3.hide();

  $("#next-tab-1").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.show();
    tab3.hide();
    $("#step2").addClass("active");
  });

  $("#next-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.hide();
    tab3.show();
    $("#step3").addClass("active");
  });

  $("#previous-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.show();
    tab2.hide();
    tab3.hide();
    $("#step2").removeClass("active");
  });

  $("#previous-tab-3").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.show();
    tab3.hide();
    $("#step3").removeClass("active");
  });

});

function sports_position_dropdown(){
    var selected_type_value = $("#sport_type option:selected");
    var selected_type_text = selected_type_value.text();
    let html_data = '';
    $.ajax({
            async: false,
            type: "POST",
            url: '{% url "EventsApp:get_selected_sports_positions" %}',
            data: {
                'selected_type_text': selected_type_text,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                data.forEach(function (data) {
                    html_data += `<option value="${data.position_type}">${data.position_type}</option>`
                });
            }
        });
        return html_data;
    }



    $(document).ready(function() {
    var max_fields      = 10;
    var wrapper         = $("#input_fields_wrap");
    var add_button      = $("#add_field_button");

    var x = 1; //initlal text box count


   $(add_button).click(function(e){
        e.preventDefault();
        let position_options = sports_position_dropdown();
        if(x < max_fields){

            var html= '';
            html += '<div class="mt-2">'
            html += '<select class="form-select mt-2" name="type_of_position' + x + '">'
            html += '<option selected disabled>Choose position</option>'
            html += position_options
            html += '</select>'
            html += '<input type="number" class="form-control mt-2" name="no_of_position' + x + '" placeholder = "Number of Positions" min=0>'
            html += '<input type="number" class="form-control mt-2" name ="position_cost' + x + '" placeholder="Position Cost">'
            html += '<input type="number" class="form-control mt-2" name="min_age' + x + '" placeholder= "Minimum Age" min=0>'
            html += '<input type="number" class="form-control mt-2" name="max_age' + x + '" placeholder= "Maximum Age" min=0 >'
            html += '<a href="#" class="remove_field mt-2">Remove</a>'
            html += '</div>'
            $(wrapper).append(html); //add input box
            x++;
      }
    });

    $(wrapper).on("click",".remove_field", function(e){
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});


$(function() {
  $('.datetime').daterangepicker({
    timePicker: true,
    locale: {
      format: 'MM/DD/YYYY hh:mm A'
    }
  });
  $('.datetime').val("");

  $('.date').datepicker({
    multidate: true
  });
});


$(function () {
        $("input[name='recurring_event']").click(function () {
            if ($("#chkYes").is(":checked")) {
                $("#fields_recurring").show();
                $("#single_dates").hide();
                for (let i of $('#recurring_selection').select2('data')){
                    $("#"+i.text+"_dates").show();
                }
                $("#Exception_dates").show();

            } else {
                $("#fields_recurring").hide();
                $("#Monday_dates").hide();
                $("#Tuesday_dates").hide();
                $("#Wednesday_dates").hide();
                $("#Thursday_dates").hide();
                $("#Friday_dates").hide();
                $("#Saturday_dates").hide();
                $("#Sunday_dates").hide();
                $("#Exception_dates").hide();
                $("#single_dates").show();
            }
        });
        $('#recurring_selection').on('select2:select', function (e) {
            $("#"+e.params.data.text+"_dates").show();
        });
        $('#recurring_selection').on('select2:unselect', function (e) {
            $("#"+e.params.data.text+"_dates").hide();
        });

    });

$('.radio').change(function() {
  $('#custom_amount').prop('disabled', !$(this).is('.other'));
});

// Logic to show alert when user leaving page without saving
$(function () {
    var formSubmitting = false;
    $("#msform").on('submit', function(){
        formSubmitting = true;
    });
    window.onload = function() {
        window.addEventListener("beforeunload", function (e) {
            if (formSubmitting) {
                return undefined;
            }

            var confirmationMessage = 'It appears you have unsaved changes, if you leave now, your changes will be lost.';

            (e || window.event).returnValue = confirmationMessage; //Gecko + IE
            return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
        });
    };
});


</script>

{% endblock %}