{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-6 mx-auto">
        <div>
            <h3 class="mx-auto text-center fw-light">Create Event</h3>
            <hr>
        </div>
        <form id="msform" action="{% url 'EventsApp:multistep'%}" method="post">
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}


            <ul id="progressbar" class="mx-auto text-center" style="padding-left: 0px;">
                <li class="active" id="step1">Event Information</li>
                <li id="step2">Sports</li>
                <li id="step3">Venue</li>
            </ul>

            <fieldset id="tab-1" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Event
                        Information</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="event_title" placeholder="* Event Title"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="description" placeholder="* Description"/>
                        </div>
                        <div class="form-row p-2" id="event_type">
                            <select class="form-select select2" name="event_type" style="width:100%">
                                <option value="" selected="selected">* Select Event Type</option>
                                <option value="Camp">Camp</option>
                                <option value="Charity">Charity</option>
                                <option value="Conditioning">Conditioning</option>
                                <option value="Development">Development</option>
                                <option value="Game/Session">Game/Session</option>
                                <option value="Online">Online</option>
                                <option value="Registration">Registration</option>
                                <option value="Social">Social</option>
                                <option value="Tournament">Tournament</option>
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <label>Gender</label>
                            <input type="checkbox" id="Male" name="gender" value="Male"> Male Only</input>
                            <input type="checkbox" id="Female" name="gender" value="Female"> Female Only </input>
                            <input type="checkbox" id="Coed" name="gender" value="Coed"> Coed </input>
                        </div>
                        <div class="form-row p-2">
                            <label>* Is this a recurring event? &nbsp &nbsp</label>
                            <input type="radio" value="Yes" id="chkYes" name="recurring_event">Yes</input>
                            <input type="radio" value="No" id="chkNo" name="recurring_event"> No </input>
                        </div>
                        <div class="form-row p-2" id="fields_recurring" style="display:None">
                            <label>* Which days does the event occur &nbsp &nbsp</label>
                            <select class="select2 form-control" style="width: 100%" id="recurring_selection"
                                    name="recurring_days" multiple="multiple">
                                <option>Monday</option>
                                <option>Tuesday</option>
                                <option>Wednesday</option>
                                <option>Thursday</option>
                                <option>Friday</option>
                                <option>Saturday</option>
                                <option>Sunday</option>
                            </select>
                        </div>
                        <div class="form-row p-2" id="Monday_dates" style="display:None">
                            <label style="font-style:italic">Mondays: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-group row p-2">
                                <div class="col-md-6">
                                    <input type="text" name="datetimes_monday_date" id="datetimes_monday_date"
                                           placeholder="Event Date" class="form-control daterange-mon" />
                                </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_monday_start_time"
                                            name="datetimes_monday_start_time" class="form-control timepicker" placeholder="Start Time"/>
                                 </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_monday_end_time"
                                            name="datetimes_monday_end_time" class="form-control timepicker" placeholder="End Time"/>
                                 </div>
                            </div>
<!--                            <div class="form-row p-2">-->
<!--                                <input type="text" class="form-control datetime" name="datetimes_monday"-->
<!--                                       placeholder="Date & Time"/>-->
<!--                            </div>-->
                        </div>
                        <div class="form-row p-2" id="Tuesday_dates" style="display:None">
                            <label>Tuesday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-group row p-2">
                                <div class="col-md-6">
                                    <input type="text" name="datetimes_tuesday_date" id="datetimes_tuesday_date"
                                           placeholder="Event Date" class="form-control daterange-tue" />
                                </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_tuesday_start_time"
                                            name="datetimes_tuesday_start_time" class="form-control timepicker" placeholder="Start Time"/>
                                 </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_tuesday_end_time"
                                            name="datetimes_tuesday_end_time" class="form-control timepicker" placeholder="End Time"/>
                                 </div>
                            </div>
<!--                            <div class="form-row p-2">-->
<!--                                <input type="text" class="form-control datetime" name="datetimes_tuesday"-->
<!--                                       placeholder="Date & Time"/>-->
<!--                            </div>-->
                        </div>
                        <div class="form-row p-2" id="Wednesday_dates" style="display:None">
                            <label>Wednesday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-group row p-2">
                                <div class="col-md-6">
                                    <input type="text" name="datetimes_wednesday_date" id="datetimes_wednesday_date"
                                           placeholder="Event Date" class="form-control daterange-wed" />
                                </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_wednesday_start_time"
                                            name="datetimes_wednesday_start_time" class="form-control timepicker" placeholder="Start Time"/>
                                 </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_wednesday_end_time"
                                            name="datetimes_wednesday_end_time" class="form-control timepicker" placeholder="End Time"/>
                                 </div>
                            </div>
<!--                            <div class="form-row p-2">-->
<!--                                <input type="text" class="form-control datetime" name="datetimes_wednesday"-->
<!--                                       placeholder="Date & Time"/>-->
<!--                            </div>-->
                        </div>
                        <div class="form-row p-2" id="Thursday_dates" style="display:None">
                            <label>Thursday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-group row p-2">
                                <div class="col-md-6">
                                    <input type="text" name="datetimes_thursday_date" id="datetimes_thursday_date"
                                           placeholder="Event Date" class="form-control daterange-thu" />
                                </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_thursday_start_time"
                                            name="datetimes_thursday_start_time" class="form-control timepicker" placeholder="Start Time"/>
                                 </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_thursday_end_time"
                                            name="datetimes_thursday_end_time" class="form-control timepicker" placeholder="End Time"/>
                                 </div>
                            </div>
<!--                            <div class="form-row p-2">-->
<!--                                <input type="text" class="form-control datetime" name="datetimes_thursday"-->
<!--                                       placeholder="Date & Time"/>-->
<!--                            </div>-->
                        </div>
                        <div class="form-row p-2" id="Friday_dates" style="display:None">
                            <label>Friday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-group row p-2">
                                <div class="col-md-6">
                                    <input type="text" name="datetimes_friday_date" id="datetimes_friday_date"
                                           placeholder="Event Date" class="form-control daterange-fri" />
                                </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_friday_start_time"
                                            name="datetimes_friday_start_time" class="form-control timepicker" placeholder="Start Time"/>
                                 </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_friday_end_time"
                                            name="datetimes_friday_end_time" class="form-control timepicker" placeholder="End Time"/>
                                 </div>
                            </div>
<!--                            <div class="form-row p-2">-->
<!--                                <input type="text" class="form-control datetime" name="datetimes_friday"-->
<!--                                       placeholder="Date & Time"/>-->
<!--                            </div>-->
                        </div>
                        <div class="form-row p-2" id="Saturday_dates" style="display:None">
                            <label>Saturday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-group row p-2">
                                <div class="col-md-6">
                                    <input type="text" name="datetimes_saturday_date" id="datetimes_saturday_date"
                                           placeholder="Event Date" class="form-control daterange-sat" />
                                </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_saturday_start_time"
                                            name="datetimes_saturday_start_time" class="form-control timepicker" placeholder="Start Time"/>
                                 </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_saturday_end_time"
                                            name="datetimes_saturday_end_time" class="form-control timepicker" placeholder="End Time"/>
                                 </div>
                            </div>
<!--                            <div class="form-row p-2">-->
<!--                                <input type="text" class="form-control datetime" name="datetimes_saturday"-->
<!--                                       placeholder="Date & Time"/>-->
<!--                            </div>-->
                        </div>
                        <div class="form-row p-2" id="Sunday_dates" style="display:None">
                            <label>Sunday: Select Start and End Date &nbsp &nbsp</label>
                            <div class="form-group row p-2">
                                <div class="col-md-6">
                                    <input type="text" name="datetimes_sunday_date" id="datetimes_sunday_date"
                                           placeholder="Event Date" class="form-control daterange-sun" />
                                </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_sunday_start_time"
                                            name="datetimes_sunday_start_time" class="form-control timepicker" placeholder="Start Time"/>
                                 </div>
                                 <div class="col-md-3">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_sunday_end_time"
                                            name="datetimes_sunday_end_time" class="form-control timepicker" placeholder="End Time"/>
                                 </div>
                            </div>
<!--                            <div class="form-row p-2">-->
<!--                                <input type="text" class="form-control datetime" name="datetimes_sunday"-->
<!--                                       placeholder="Date & Time"/>-->
<!--                            </div>-->
                        </div>
                        <div class="form-row p-2" id="Exception_dates" style="display:None">
                            <label>Enter Exceptions &nbsp &nbsp</label>
                            <div class="form-row p-2">
                                <input type="text" class="form-control date" name="datetimes_exceptions" id="datetimes_exceptions"/>
                            </div>
                        </div>
                        <div class="form-row p-2" id="single_dates" style="display:None">
                            <label>* Select Event Date &nbsp &nbsp</label>
                            <div class="form-group row p-2">
                                <div class="col-md-4">
                                    <input type="text" name="datetimes_date" id="datetimes_date"
                                           placeholder="Event Date" class="form-control datesingle" />
                                </div>
                                 <div class="col-md-4">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_start_time"
                                            name="datetimes_start_time" class="form-control timepicker" placeholder="Start Time"/>
                                 </div>
                                 <div class="col-md-4">
                                     <input type="text" onfocus="(this.type='time')" onblur="(this.type='text')"
                                            id="datetimes_end_time"
                                            name="datetimes_end_time" class="form-control timepicker" placeholder="End Time"/>
                                 </div>
                            </div>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                   value="Next"
                                   id="next-tab-1"/>
                        </div>
                    </div>
                </div>

            </fieldset>

            <fieldset id="tab-2" class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Sports Information</h3>
                    <div class="card-body">
                        <div class="form-row p-2" id="sport_type_container">
                            <select name='sport_type' id="sport_type" class="form-select select2"
                                    aria-label=".form-select-lg example">
                                <option selected disabled>* Choose Sport</option>
                                {% for type in sports_type %}
                                <option value="{{type.sports_type_text}}">{{type.sports_type_text}}</option>
                                {% endfor %}
                            </select>
                        </div>
<!--                        <div class="form-row p-2">-->
<!--                            <select name='position' class="form-select" id="position" aria-label=".form-select-lg example">-->
<!--                                <option selected disabled>* Choose Position</option>-->
<!--                            </select>-->
<!--                        </div>-->
                        <div class="form-row p-2 text-center">
                            <div id="input_fields_wrap">
                            </div>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   value="Previous" id="previous-tab-2"/>
<!--                            <button class="btn btn-primary"-->
<!--                                        id="add_field_button">Add Position-->
<!--                                </button>-->
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                   value="Next" id="next-tab-2"/>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset id="tab-3" class="p-2">
                <div class="card shadow">
                    <h2 class="card-header text-white text-center"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Venue</h2>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <select name='venue' id="venue" class="form-select"
                                    aria-label=".form-select-lg example">
                                <option selected disabled>* Choose Venue</option>
                                {% for venue in venues %}
                                <option value="{{venue}}">{{venue.vm_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" id="street" name="street"
                                   placeholder="Street" readonly/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" id="city" name="city"
                                   placeholder="City" readonly/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" id="province" name="province"
                                   placeholder="Province" readonly/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" id="country" name="country"
                                   placeholder="Country" readonly/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" id="zip_code" name="zip_code"
                                   placeholder="Area Code" readonly/>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous"
                                   class="previous action-button-previous btn btn-primary"
                                   value="Previous" id="previous-tab-3"/>

                            <input type="submit" name="submit" class="submit action-button btn btn-primary"
                                   value="Submit"/>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css"
      rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<style>

   #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #ff6f3d;
}

#progressbar li {
    display:inline-block;
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    position: relative;
    font-weight: 400
}

#progressbar #step1:before {
    content: "1"
}

#progressbar #step2:before {
    content: "2"
}

#progressbar #step3:before {
    content: "3"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #ff6f3d
}









</style>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

function getTime(time, addHour) {
  let [h, m] = time.split(':');
  let date = new Date();
   date.setHours(h, m, 0)
   date.toString();
  var hour = (date.getHours()+addHour)%24 > 9 ?
    String((date.getHours()+addHour)%24) : ("0" + String((date.getHours()+addHour)%24));
  var minutes = date.getMinutes() > 9 ? String(date.getMinutes()) : ("0" + String(date.getMinutes()));
  let res = `${hour}:${minutes}`;
  return res
}

$("#venue").change(function () {
        var selected_venue_value = $("#venue option:selected");
        var selected_venue_text = selected_venue_value.text();
        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:get_venue" %}',
            data: {
                'selected_venue': selected_venue_text,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = data[0];
                console.log(html_data["vm_venue_street"]);
                $("#street").val(html_data["vm_venue_street"]);
                $("#city").val(html_data["vm_venuecity"]);
                $("#province").val(html_data["vm_venue_province"]);
                $("#country").val(html_data["vm_venue_country"]);
                $("#zip_code").val(html_data["vm_venue_zip"]);
            }
        });
        var inputs = document.getElementsByTagName('input');
        for (let i of inputs){
            i.addEventListener('input', addInputLabel, false);
            let event = new Event("input");
            i.dispatchEvent(event);
        }
    });

$("#datetimes_start_time").change(function () {
        var endtime = $("#datetimes_end_time")[0].value;
        console.log(endtime);
        if(!endtime){
            $("#datetimes_end_time")[0].value = getTime( $("#datetimes_start_time")[0].value, 1 );
        }
    });


$("#sport_type").change(function () {
        var index = 1;
        $(".positions-container").remove();
        var selected_type_value = $("#sport_type option:selected");
        var selected_type_text = selected_type_value.text();
        $.ajax({
            type: "POST",
            url: '{% url "EventsApp:get_selected_sports_positions" %}',
            data: {
                'selected_type_text': selected_type_text,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = '<option selected disabled>Choose Position</option>';
                let html2 = '<div class="form-row p-2 text-center positions-container">';
                html2 += '<div class="row g-2"><div class="col-md-2" style="font-style: italic;">Position</div>';
                html2 += '<div class="col-md-2" style="font-style: italic;">* # of Positions</div>';
                html2 += '<div class="col-md-2" style="font-style: italic;">* Cost</div>';
                html2 += '<div class="col-md-2" style="font-style: italic;">* Min Age</div>';
                html2 += '<div class="col-md-2" style="font-style: italic;">* Max Age</div>';
                html2 += '<div class="col-md-2" style="font-style: italic;">* Skills</div></div>';

                data.forEach(function (data) {
                    var selected_position_value = data.position_type;
                    var selected_type_value = $("#sport_type option:selected");
                    var selected_type_text = selected_type_value.text();
                    let skills_dropdown = '';
                    $.ajax({
                        async: false,
                        type: "POST",
                        url: '{% url "EventsApp:get_selected_sports_skill" %}',
                        data: {
                            'selected_position_text': selected_position_value,
                            'selected_type_text': selected_type_text,
                            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                        },
                        success: function (data) {
                            skills_dropdown = '<select class="select2 form-control" name="type_of_skill'+index+'" multiple="multiple">';
                            data.forEach(function (data) {
                                skills_dropdown += `<option value="${data.skill_type}">${data.skill_type}</option>`;
                            });
                            skills_dropdown += '</select>';
                        }
                    });
                    html2 += `<div class="row g-2"><label class="col-md-2 align-middle my-4"  style="font-weight: bold;">${data.position_type}</label>`
                    html2 += '<div class="col-md-2"><input type="number" class="form-control mt-2" name="no_of_position' + index + '" placeholder = "#" min=0></div>'
                    html2 += '<div class="col-md-2"><input type="number" class="form-control mt-2" name ="position_cost' + index + '" placeholder="$"></div>'
                    html2 += '<div class="col-md-2"><input type="number" class="form-control mt-2" name="min_age' + index + '" min=0></div>'
                    html2 += '<div class="col-md-2"><input type="number" class="form-control mt-2" name="max_age' + index + '" min=0 ></div>'
                    html2 += `<div class="col-md-2 py-2">${skills_dropdown}</div>`
                    html2 += `<div style="display:none"><input value="${data.position_type}" name="position_name${index}" value=></div>`
                    html2 += '</div>'
                    html_data += `<option value="${data.position_type}">${data.position_type}</option>`
                    index++;
                });
                html2 += '</div>'
                $(html2).insertAfter($("#sport_type_container"));
                $('.select2').select2();
            }
        });
    });

$(document).ready(function(){
  $('.select2').select2();
  var tab2 = $("#tab-2");
  var tab3 = $("#tab-3");
  tab2.hide();
  tab3.hide();

  $("#next-tab-1").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.show();
    tab3.hide();
    $("#step2").addClass("active");
  });

  $("#next-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.hide();
    tab3.show();
    $("#step3").addClass("active");
  });

  $("#previous-tab-2").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.show();
    tab2.hide();
    tab3.hide();
    $("#step2").removeClass("active");
  });

  $("#previous-tab-3").click(function(){
    var tab1 = $("#tab-1");
    var tab2 = $("#tab-2");
    var tab3 = $("#tab-3");
    tab1.hide();
    tab2.show();
    tab3.hide();
    $("#step3").removeClass("active");
  });

});

function sports_skill_dropdown(skill_field_id){
    var selected_position_value = $("#position option:selected");
    var selected_position_text = selected_position_value.text();
    var selected_type_value = $("#sport_type option:selected");
    var selected_type_text = selected_type_value.text();
    let html_data = '';
    $.ajax({
            async: false,
            type: "POST",
            url: '{% url "EventsApp:get_selected_sports_skill" %}',
            data: {
                'selected_position_text': selected_position_text,
                'selected_type_text': selected_type_text,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                let html_data = '<option selected disabled>Choose Skill</option>';
                data.forEach(function (data) {
                    html_data += `<option value="${data.skill_type}">${data.skill_type}</option>`
                });
                $("#" + skill_field_id).html(html_data);
            }
        });
   }



    $(document).ready(function() {
    var max_fields      = 10;
    var wrapper         = $("#input_fields_wrap");
    var add_button      = $("#add_field_button");

    var x = 1; //initlal text box count


   $(add_button).click(function(e){
        e.preventDefault();
        if(x < max_fields){
            var html= '';
            html += '<div class="mt-2">'
            html += '<select class="form-select mt-2" name="type_of_skill' + x + '" id="type_of_skill' + x + '">'
            html += '<option selected disabled>* Choose Skill</option>'
            html += '</select>'
            html += '<div class="row g-2">'
            html += '<div class="col-md-3"><input type="number" class="form-control mt-2" name="no_of_position' + x + '" placeholder = "* # Positions" min=0></div>'
            html += '<div class="col-md-2"><input type="number" class="form-control mt-2" name ="position_cost' + x + '" placeholder="* Cost"></div>'
            html += '<div class="col-md-3"><input type="number" class="form-control mt-2" name="min_age' + x + '" placeholder= "* Min Age" min=0></div>'
            html += '<div class="col-md-3"><input type="number" class="form-control mt-2" name="max_age' + x + '" placeholder= "* Max Age" min=0 ></div>'
            html += '<div class="col-md-1"><a href="#" class="remove_field btn btn-danger mt-2">🗑</a></div>'
            html += '</div>'
            html += '</div>'
            $(wrapper).append(html); //add input box

            skill_field_id = "type_of_skill"+x;
            sports_skill_dropdown(skill_field_id);
            x++;
        }
    });

    $(wrapper).on("click",".remove_field", function(e){
        e.preventDefault();
        $(this).parent('div').parent('div').parent('div').remove();
        x--;
    })
});


$(function() {
  $('.datetime').daterangepicker({
    timePicker: true,
    locale: {
      format: 'MM/DD/YYYY hh:mm A'
    }
  });
  $('.datetime').val("");

  $('.date').datepicker({
    multidate: true,
    orientation: 'top'
  });

  $('.datesingle').daterangepicker({
    singleDatePicker: true,
    locale: {
      format: 'MM/DD/YYYY'
    }
  });


  $('.daterange-mon').daterangepicker({
    timePicker: false,
    isInvalidDate: function(date) {
      return (date.day() != 1);
    },
    locale: {
      format: 'MM/DD/YYYY'
    }
  });
  $('.daterange-tue').daterangepicker({
    timePicker: false,
    isInvalidDate: function(date) {
      return (date.day() != 2);
    },
    locale: {
      format: 'MM/DD/YYYY'
    }
  });
  $('.daterange-wed').daterangepicker({
    timePicker: false,
    isInvalidDate: function(date) {
      return (date.day() != 3);
    },
    locale: {
      format: 'MM/DD/YYYY'
    }
  });
  $('.daterange-thu').daterangepicker({
    timePicker: false,
    isInvalidDate: function(date) {
      return (date.day() != 4);
    },
    locale: {
      format: 'MM/DD/YYYY'
    }
  });
  $('.daterange-fri').daterangepicker({
    timePicker: false,
    isInvalidDate: function(date) {
      return (date.day() != 5);
    },
    locale: {
      format: 'MM/DD/YYYY'
    }
  });
  $('.daterange-sat').daterangepicker({
    timePicker: false,
    isInvalidDate: function(date) {
      return (date.day() != 6);
    },
    locale: {
      format: 'MM/DD/YYYY'
    }
  });
  $('.daterange-sun').daterangepicker({
    timePicker: false,
    isInvalidDate: function(date) {
      return (date.day() != 0);
    },
    locale: {
      format: 'MM/DD/YYYY'
    }
  });
});


$(function () {
        $("input[name='recurring_event']").click(function () {
            if ($("#chkYes").is(":checked")) {
                $("#fields_recurring").show();
                $("#single_dates").hide();
                for (let i of $('#recurring_selection').select2('data')){
                    $("#"+i.text+"_dates").show();
                }
                $("#Exception_dates").show();

            } else {
                $("#fields_recurring").hide();
                $("#Monday_dates").hide();
                $("#Tuesday_dates").hide();
                $("#Wednesday_dates").hide();
                $("#Thursday_dates").hide();
                $("#Friday_dates").hide();
                $("#Saturday_dates").hide();
                $("#Sunday_dates").hide();
                $("#Exception_dates").hide();
                $("#single_dates").show();
            }
        });
        $('#recurring_selection').on('select2:select', function (e) {
            $("#"+e.params.data.text+"_dates").show();
        });
        $('#recurring_selection').on('select2:unselect', function (e) {
            $("#"+e.params.data.text+"_dates").hide();
        });

    });

$('.radio').change(function() {
  $('#custom_amount').prop('disabled', !$(this).is('.other'));
});

// Logic to show alert when user leaving page without saving
$(function () {
    var formSubmitting = false;
    $("#msform").on('submit', function(){
        formSubmitting = true;
    });
    window.onload = function() {
        window.addEventListener("beforeunload", function (e) {
            if (formSubmitting) {
                return undefined;
            }

            var confirmationMessage = 'It appears you have unsaved changes, if you leave now, your changes will be lost.';

            (e || window.event).returnValue = confirmationMessage; //Gecko + IE
            return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
        });
    };
});


// Make Placeholders title when user types something
function addInputLabel(evt) {
    var myLabel = document.createElement('div');
    myLabel.textContent = evt.currentTarget.placeholder;
    myLabel.classList.add('my-label');
    var parentDiv = document.getElementsByName(evt.currentTarget.name)[0].parentElement;
    if(parentDiv.getElementsByClassName('my-label').length < 1) {
        parentDiv.insertBefore(myLabel, evt.currentTarget);
    }
    else{
        if(evt.currentTarget.value.length == 0){
            parentDiv.removeChild(parentDiv.getElementsByClassName('my-label')[0]);
        }
    }
}
// Fix daterangepicker position to given element
function updateDateRangePickerPosition(evt) {
    $('.daterangepicker').css('margin-top',$('#' + evt.currentTarget.id).offset().top);
}


var inputs = document.getElementsByTagName('input');
var inputs = document.getElementsByTagName('input');
for (let i of inputs){
    i.addEventListener('input', addInputLabel, false);
    i.addEventListener('focus', updateDateRangePickerPosition, false);
    let event = new Event("input");
    i.dispatchEvent(event);
}

//$('.datepicker').css('top',$("#datetimes_exceptions").offset().top);


</script>

{% endblock %}