{% extends 'base.html' %}

{% load widget_tweaks %}
{% load static %}

{% block content %}

{% if user.is_authenticated %}
<center>
    {% if submitted %}
    Your Event was Submitted
    Successfully!!!
    {% else %}
</center>


<div class="row">
    <div class="col-6 mx-auto">
        <form id="msform" action="{% url 'EventsApp:multistep'%}" method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {% for field, errors in form.errors.items %}
                {% for error in errors %}
                <b>{{ field }}</b>: {{ error }}
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}

            <!-- progressbar -->
            <!--            <ul id="progressbar">-->
            <!--                <li class="active">Basic Information</li>-->
            <!--                <li>Location</li>-->
            <!--                <li>Preference</li>-->
            <!--            </ul>-->
            <!-- fieldsets -->
            <fieldset class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-center text-white"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Basic Information</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="first_name" placeholder="First Name"/>
                        </div>
                        <div class="form-row p-2">
                            <input type="text" class="form-control" name="last_name" placeholder="Last Name"/>
                        </div>
                        <div class="form-row p-2">
                            <input placeholder="DOB" class="form-control textbox-n" type="text"
                                   onfocus="(this.type='date')"
                                   id="date">
                        </div>
                        <div class="form-row p-2">
                            <label for="chkYes">Tell us how we can contact you?</label>
                            <input type="radio" id="chkYes" name="contact"/>
                            Email
                            <input type="radio" id="chkYes1" name="contact"/>
                            Phone
                            <input type="radio" id="chkYes2" name="contact"/>
                            Provider
                        </div>
                        <div class="form-row p-2" id="dvPassport" style="display: none">
                            Email
                            <input type="text" class="form-control" id="txtPassportNumber" name="contact"/>
                        </div>
                        <div class="form-row p-2" id="dvPassport1" style="display: none">
                            Phone
                            <input type="number" class="form-control" id="txtPassportNumber1" name="contact"/>
                        </div>
                        <div class="form-row p-2" id="dvPassport2" style="display: none">
                            Provider
                            <input type="text" class="form-control" id="txtPassportNumber2" name="contact"/>
                        </div>
                        <div class="form-row p-2">
                            <label>I am interested in participating in ?</label>
                            <input type="radio" class='radio' id='male' name="participate" value="Male">
                            <label for="male">male</label>
                            <input type="radio" value="Female" class='radio' id='female' name="participate">
                            <label for="female">female</label>
                            <input type="radio" class='radio' value="Coed" id='coed' name="participate">
                            <label for="coed">coed</label>
                        </div>
                        <div class="form-row p-2">
                            <label>Have you ever suffered concussion?</label>
                            <input type="radio" value="Yes" class='radio' name="is_concussion">
                            <label for="male">Yes</label>
                            <input type="radio" value="No" class='radio' name="is_concussion">
                            <label for="female">No</label>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                    value="Next"/>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-center text-white"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">Location</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <label>List your locations where you can participate in </label>
                        </div>

                        <div class="form-row p-2" id="input_fields_wrap">
                            <button id="add_field_button" class="btn btn-primary"
                                    >Add Location
                            </button>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous" class="previous action-button-previous btn btn-primary"
                                    value="Previous"/>
                            <input type="button" name="next" class="next action-button btn btn-primary"
                                    value="Next"/>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="p-2">
                <div class="card shadow">
                    <h3 class="card-header text-center text-white"
                        style="background: linear-gradient(170deg, rgba(71,176,239,1) 35%, rgba(13,223,246,1) 100%);">
                        Sport Preference</h3>
                    <div class="card-body">
                        <div class="form-row p-2">
                            <label>Add sports you love to play</label>
                        </div>
                        <div class="form-row p-2" id="input_fields_wrap1">
                            <button id="add_field_button1" class="btn btn-primary"
                                    >Add Sports
                            </button>
                        </div>
                        <div class="form-row p-2 text-center">
                            <input type="button" name="previous" class="previous action-button-previous btn btn-primary"
                                    value="Previous"/>
                            <input type="submit" name="submit" class="submit action-button btn btn-primary"
                                    value="Submit"/>
                        </div>
                    </div>
                </div>
            </fieldset>

            {% endif %}
        </form>
    </div>
</div>

{% else %}
You're not allowed to do that before login
</br></br>
<h3 class="text-center">If you already have an account, <a href="{% url 'login' %}">login</a> first or if you
    don't <a href="{% url 'register' %}">Register</a></h3>

{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>


<script>
 var sportsObject = {
    "Targeting": {
            "Archery":[],
            "Wheelchair Archery":[]
          },
    "Combat Sport": {
           "Mauy Thai/Kick Boxing":[],
           "Mixed Martial Arts":[],
           "Paintball":[],
             "Red Rover":[]
     },
     "Dance": {
            "Dance":[]
          },
      "Combat Sport": {
           "Aerobics":[],
           "Gymnastics":[],
             "Multisport":[],
           "Park Program":[],
           "Spin":[],
           "Weight Training":[],
           "Yoga":[]
     },
     "Football/Rugby": {
           "Wheelchair Rugby":[],
           "Flag Football":[],
             "Football":[],
           "Rugby":[],
           "Touch Football":[]
     },
     "Racquet/Volleying": {
           "Handball":[],
           "Badminton":[],
             "Wheelchair Badminton":[],
           "Pickleball":[],
           "Round Ball":[],
           "Sitting Volleyball":[],
           "Squash":[],
           "Table Tennis":[],
           "Wheelchair Table Tennis":[],
           "Tennis":[],
           "Wheelchair Tennis":[],
           "Volleyball":[]
     },
     "Riding(Equestrian, Vehicular, Paddling)": {
"Bobsledding":[],
"Dog Sledding":[],
"Luge":[],
"Skateboarding/Scootering":[],
"Skim Boarding":[],
"Surfing/Wind Surfing":[],
"Base Jumping":[],
"BMX":[],
"Canoeing":[],
"Cart":[],
"Dragon Boat":[],
"Equestrian":[],
"Fishing":[],
"Indoor Skydiving":[],
"Kayaking":[],
"Motorcross":[],
"Outdoor Skydiving":[],
"Paddle Boarding":[],
"ParaGliding/ParaSailing":[],
"Polo":[],
"Rafting":[],
"Rowing":[],
"Sailing/Boating":[]
},
"Running/Track/Parkour": {
"Cross Country Running":[],
"Discus":[],
"High Jump":[],
"Hurling":[],
"Javelin":[],
"Marathoning":[],
"Mudder":[],
"Parkour":[],
"Pole Vault":[],
"Running":[],
"Shot Put":[],
"Track Running":[],
"Trekking":[]
},

"Swimming": {
"Water Aerobics":[],
"Water Polo":[],
"Diving":[],
"Scuba":[],
"Swimming":[],
"Synchro Swimming":[],
},

"Trampolining": {
"Trampolining":[]
},

"Baseball": {
  "Fastball":[],
"Soccer Baseball":[],
"Softball":[],
"T-Ball":[],
"Basketball":[],
"Wheelchair Basketball":[],
"Climbing":[]
},

"Climbing": {
"Ninja Camp":[],
"Climbing":[]
},

"Cricket": {
"Cricket":[]
},

"Frisbee": {
"Disk Golf":[],
"Ultimate Frisbee":[],
"Ultimate Para-frisbee":[]
},

"Golf": {
"Golf":[]
},

"Hockey/Skating/Blading": {
  "Amputee Hockey":[],
"Ball/Floor Hockey":[],
"Blind Hockey":[],
"Field Hockey":[],
"Figure Skating":[],
"Ice Hockey":[],
"Ice Skating":[],
"Inline/Roller Hockey":[],
"Ringette":[],
"Shinny":[],
"Sledge Hockey":[],
"Speed Skating":[],
"Stick & Puck":[]

},

"Lacrosse": {
"Box Lacrosse":[],
"Field Lacrosse":[],
"Boss":[]
},

"Skiing (Water, Terrestrial, Boarding)": {
  "Cross Country Skiing":[],
"Downhill/Alpine":[],
"Skiing":[],
"Paraskiing":[],
"Snowboarding":[]
},

"Soccer": {
  "Beach Soccer":[],
"Bubble Soccer":[],
"Soccer":[],
"ParaSoccer":[]

},

"Strategy": {
"Board Game":[],
"Panic Room":[],
"First Responding":[]
},

"Basketball": {
  "Basketball":[],
"Wheelchair Basketball":[],

},

}


  window.onload = function() {
  var catgeorySel = document.getElementById("category");
  var sportsSel = document.getElementById("sports");
  for (var x in sportsObject) {
    catgeorySel.options[catgeorySel.options.length] = new Option(x, x);
  }
  catgeorySel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    sportsSel.length = 1;
    //display correct values
    for (var y in sportsObject[this.value]) {
      sportsSel.options[sportsSel.options.length] = new Option(y, y);

    }
  }
}



    $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $("#input_fields_wrap"); //Fields wrapper
    var add_button      = $("#add_field_button"); //Add button ID

    var x = 1; //initlal text box count


   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed

             //text box increment
            $(wrapper).append('<div class="form-row p-2"><input class="form-control" name="city" type="text" placeholder = "City" name="pref_city"><input class="form-control" type="text" name ="pref_province" placeholder="Province/State"><input class="form-control" type="text" name="pref_country" placeholder= "Country"><a href="#" class="remove_field">Remove</a></div>'); //add input box
            x++;
      }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text

        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});



    $(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $("#input_fields_wrap1"); //Fields wrapper
    var add_button      = $("#add_field_button1"); //Add button ID

    var x = 1; //initlal text box count


   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed

             //text box increment
            $(wrapper).append('<div class="form-row p-2"><input class="form-control" type="text" name ="pref_sports" placeholder="Sports"><input class="form-control" type="text" name="pref_position" placeholder= "Position"><a href="#" class="remove_field1">Remove</a></div>'); //add input box
            x++;
      }
    });

    $(wrapper).on("click",".remove_field1", function(e){ //user click on remove text

        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
});

    $(function() {
  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    startDate: moment().startOf('hour'),
    endDate: moment().startOf('hour').add(32, 'hour'),
    locale: {
      format: 'MM/DD/YYYY hh:mm A'
    }
  });
});


$(function () {
        $("input[name='event_cost']").click(function () {
            if ($("#chkYes").is(":checked")) {
                $("#dvPassport").show();
            } else {
                $("#dvPassport").hide();
            }
        });
    });
$(function () {
        $("input[name='event_cost']").click(function () {
            if ($("#chkYes1").is(":checked")) {
                $("#dvPassport1").show();
            } else {
                $("#dvPassport1").hide();
            }
        });
    });
$(function () {
        $("input[name='event_cost']").click(function () {
            if ($("#chkYes2").is(":checked")) {
                $("#dvPassport2").show();
            } else {
                $("#dvPassport2").hide();
            }
        });
    });
$(function () {
        $("input[name='position_price']").click(function () {
            if ($("#chkYes1").is(":checked")) {
                $("#dvPassport1").show();
            } else {
                $("#dvPassport1").hide();
            }
        });
    });

$('.radio').change(function() {
  $('#custom_amount').prop('disabled', !$(this).is('.other'));
});

    // $("#id_country").change(function () {
    //     const url = $("#personForm");  // get the url of the `load_cities` view
    //     const countryId = $(this).val();  // get the selected country ID from the HTML input

    //     $.ajax({                       // initialize an AJAX request
    //         url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
    //         data: {
    //             'country_id': countryId       // add the country id to the GET parameters
    //         },
    //         success: function (data) {   // `data` is the return of the `load_cities` view function
    //             $("#id_city").html(data);  // replace the contents of the city input with the data that came from the server

    //             let html_data = '<option value="">---------</option>';
    //             data.forEach(function (city) {
    //                 html_data += `<option value="${city.id}">${city.name}</option>`
    //             });
    //             console.log(html_data);
    //             $("#id_city").html(html_data);

    //         }
    //     });

    // });

    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
            'transform': 'scale('+scale+')',
            'position': 'absolute'
          });
                next_fs.css({'left': left, 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1-now) * 50)+"%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

















</script>
{% endblock %}