{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

<div class="row">
    <div class="col-md">
        <div class="card">
            <div class="card-body">
                <table class="table table-striped">
                    {% for venue in venue_list %}
                    <tr>
                        <td>
                            <a href="{% url 'show-venue' venue.id %}">{{ venue }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}