{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

{% for venue in venue_list %}
<div class="card">
  <div class="card-header">
    {{event}}
  </div>
  <ul>
  <div class="card-body">
    <h5 class="card-title"> Venue: {{ venue.name}}</h5>
    <p class="card-text">
		<li>Address : {{ venue.adress }}</li>
		<li>Zip Code: {{ venue.zip_code }}</li>
		<li>phone: {{ venue.phone }}</li>
		<li>Website: {{ venue.web }}</li>
		<li>Email : {{ venue.email_address }}</li>
</ul>
</p>
<div class = "card-footer text-muted">
	<a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a>
</div>
<br/><br/>
	{% endfor %}
  </div>
</div>


{% endblock %}